<template>
  <div class="pageOrder">
    <Tabs />
    <br />
    <div v-if="newLoading" class="loading-wrapper">
      <div v-for="{n, index} in 3" :key="index">
        <Loader />
        <v-divider class="mt-0 mb-0 ml-0 mr-0 bolderBorder"></v-divider>
      </div>
    </div>
    <div v-else class="wrapper">
      <div v-for="(item, index) in allList" :key="index">
        <ListInvoiceTab
          :invoice="formatDate(item.orderedAt)"
          :date="formatDateTime(item.orderedAt)"
          :orderid="item._id.slice(1,5)"
          :totalpayment="item.totalHarga"
          buttontext="Proses Pesanan"
          :url="`/order/new/${item._id}`"
        />
      </div>
      <OrderNotFound
        v-if="allList.length <= 0 && newLoading === false"
        :text="'Pesanan Baru Tidak Ditemukan'"
      />
    </div>
  </div>
</template>

<style scoped>
.pageOrder {
  margin: -16px;
}
.wrapper,
.loading-wrapper {
  margin-top: 90px;
}
.btn-ghost {
  width: 100% !important;
  margin: 0 0 20px 0;
  border-radius: 4px;
}
</style>

<script>
// import UnderConstruction from '~/components/UnderConstruction.vue'
import { mapState } from 'vuex'
import {
  _isUndefined,
  getNestedObject,
  formatDate,
  formatDateTime
} from '~/utils'
const components = {
  Tabs: () => import('~/components/Tabs.vue' /* webpackChunkName: "Tabs" */),
  ListInvoiceTab: () =>
    import('~/components/ListInvoiceTab.vue' /* webpackChunkName: "ListInvoiceTab" */),
  OrderNotFound: () =>
    import('~/components/OrderNotFound.vue' /* webpackChunkName: "OrderNotFound" */),
  Loader: () =>
    import('~/components/OrderLoader.vue' /* webpackChunkName: "Loader" */)
}

export default {
  layout: 'bottom_top_nav',
  middleware: 'authenticated',
  components,
  head() {
    return {
      title: 'Dikemas',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'List_order_tab',
          name: 'description',
          content: 'Order Seller Pocimas'
        },
        {
          hid: 'Order_seller_keywords',
          name: 'keywords',
          content: 'order, seller, Pocimas'
        }
      ]
    }
  },
  data() {
    return {
      showButton: false
    }
  },
  computed: {
    ...mapState({
      isLoad: state => state.order.currentOffset,
      allList: state => state.order.listOrderSending,
      newLoading: state => state.order.sendingLoading
    })
  },
  mounted: async function(store = this.$store) {
    const status = 'sending'
    const order = await store.dispatch('order/getOrder', status)
    store.commit('order/setState', {
      sendingLoading: false
    })
    await store.dispatch('order/setDefaultOrderPackaged', order.payload)
  },
  methods: {
    formatDate,
    formatDateTime
  }
}
</script>
