body {
  font-family: Roboto, sans-serif;
}

.page {
  padding-bottom: 100px;
}

.v-input >>> .v-label.theme--light {
  font-size: 14px;
  color: #383838;
  font-weight: 700;
  margin-left: 10px;
}

.primary-address {
  color: black;
  font-weight: 400;
}

hr {
  margin-top: 0;
}

.title {
  color: #00bcb8;
  margin-bottom: 5px;
  line-height: 24px;
}

h4 {
  font-weight: 500;
}

.detail {
  padding-left: 10%;
}

.edit,
.edit:active {
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
  height: 27px;
  padding: 0 10px;
  text-transform: none;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  color: #969696;
  width: 105px;
  text-align: center;
  box-shadow: none !important;
  margin-left: 0;
  margin-top: 10px;
}

.g-product-block.g-address-list.active {
  background-color: #def2ee;
}

.delete {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 20px;
}

.delete-icon {
  height: 18px;
}

.popupLogout {
  padding: 15px;
  color: #00bcb8;
  font-weight: 500;
}

.dialogDelete {
  color: #969696;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 15px;
}

.yesDelete {
  background: none !important;
  color: #fc4827;
}

.cancelDelete {
  background: none !important;
  color: #969696;
}

.centerPage {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 25%;
  left: 50%;
  margin: 0px 0 0 -150px;
  padding-top: 60px;
}

.txtEmptyState {
  color: #7c7c7c;
  font-size: 13px;
}

.center-load {
  margin-top: 250px;
  text-align: center;
}
