<template>
  <div class="pageOrder">
    <Tabs />
    <br />
    <div v-if="newLoading" class="loading-wrapper">
      <div v-for="{n, index} in 3" :key="index">
        <Loader />
        <v-divider class="mt-0 mb-0 ml-0 mr-0 bolderBorder"></v-divider>
      </div>
    </div>
    <div v-else class="wrapper">
      <div v-for="(item, index) in allList" :key="index">
        <ListInvoiceTab
          :invoice="formatDate(item.placed)"
          :date="formatDateTime(item.placed)"
          :orderid="item.linkID"
          :totalpayment="item.priceND"
          buttontext="Konfirmasi Kiriman"
          :url="`/order/complain/${item.linkID}`"
        />
      </div>
      <div class="container">
        <v-btn
          v-if="allList.length === isLoad && showButton"
          :loading="newLoading || loadMoreLoadingNew"
          :disabled="newLoading || loadMoreLoadingNew"
          outline
          class="text-none btn-ghost"
          depressed
          :ripple="false"
          color="secondary"
          @click="loadmore"
        >Lihat Lainnya</v-btn>
      </div>
      <!-- <v-divider class="mt-0 mb-0 ml-0 mr-0 bolderBorder"></v-divider> -->
      <OrderNotFound
        v-if="orderLength <= 0 && newLoading === false"
        :text="'Komplain Tidak Ditemukan'"
      />
    </div>
  </div>
</template>

<style scoped>
.pageOrder {
  margin: -16px;
}
.wrapper,
.loading-wrapper {
  margin-top: 90px;
}
.btn-ghost {
  width: 100% !important;
  margin: 0 0 20px 0;
  border-radius: 4px;
}
</style>

<script>
// import UnderConstruction from '~/components/UnderConstruction.vue'
import { mapState } from 'vuex'
import { _isUndefined, getNestedObject } from '~/utils'
const components = {
  Tabs: () => import('~/components/Tabs.vue' /* webpackChunkName: "Tabs" */),
  ListInvoiceTab: () =>
    import('~/components/ListInvoiceTab.vue' /* webpackChunkName: "ListInvoiceTab" */),
  OrderNotFound: () =>
    import('~/components/OrderNotFound.vue' /* webpackChunkName: "OrderNotFound" */),
  Loader: () =>
    import('~/components/OrderLoader.vue' /* webpackChunkName: "Loader" */)
}

export default {
  layout: 'bottom_top_nav',
  middleware: 'authenticated',
  components,
  head() {
    return {
      title: 'Komplain Buyer',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'List_order_tab',
          name: 'description',
          content: 'Order Seller Pocimas'
        },
        {
          hid: 'Order_seller_keywords',
          name: 'keywords',
          content: 'order, seller, Pocimas'
        }
      ]
    }
  },
  data() {
    return {
      orderLength: '',
      showButton: false
    }
  },
  computed: {
    ...mapState({
      isLoad: state => state.order.currentOffsetComplain,
      allList: state => state.order.listOrderComplain,
      newLoading: state => state.order.complainLoadingIndex,
      loadMoreLoadingNew: state => state.order.loadMoreLoadingComplain
    })
  },
  mounted: async function(store = this.$store) {
    // if (store.state.user.accKey === '') {
    //   await store.dispatch('user/refreshAuth')
    // }
    const authParams = {
      token: store.state.user.accKey,
      storeUUID: store.state.mart.default.id,
      currentOffset: 0,
      limit: 5
    }
    const order = await store.dispatch('order/getOrderListComplain', authParams)
    this.orderLength = order.data.length

    // console.warn('order', order)

    const orderData = getNestedObject(order, ['data'])
    const orderInclude = getNestedObject(order, ['included'])
    if (!_isUndefined(orderData) && !_isUndefined(orderInclude)) {
      for (const i in orderData) {
        let c = 0
        for (const j in orderInclude) {
          if (
            orderInclude[j].type === 'commerce_order_item--default' &&
            orderInclude[j].relationships.order_id.data.id === orderData[i].id
          ) {
            c += Math.trunc(orderInclude[j].attributes.total_price.number)
          }
        }
        orderData[i].priceND = c
      }
    }

    if (
      typeof order !== 'undefined' &&
      order.hasOwnProperty('data') &&
      (order.data !== null || typeof order.data !== 'undefined')
    ) {
      await store.dispatch('order/setDefaultOrderComplain', {
        data: orderData,
        section: 'init'
      })
    }
    setTimeout(() => {
      this.showButton = true
    }, 100)
  },
  methods: {
    async loadmore() {
      const authParams = {
        token: this.$store.state.user.accKey,
        storeUUID: this.$store.state.mart.default.id,
        currentOffset: this.$store.state.order.currentOffsetComplain,
        limit: this.$store.state.order.limit,
        dontNeedLoading: true
      }
      const order = await this.$store.dispatch(
        'order/getOrderListComplain',
        authParams
      )

      const orderData = getNestedObject(order, ['data'])
      const orderInclude = getNestedObject(order, ['included'])
      if (!_isUndefined(orderData) && !_isUndefined(orderInclude)) {
        for (const i in orderData) {
          let c = 0
          for (const j in orderInclude) {
            if (
              orderInclude[j].type === 'commerce_order_item--default' &&
              orderInclude[j].relationships.order_id.data.id === orderData[i].id
            ) {
              c += Math.trunc(orderInclude[j].attributes.total_price.number)
            }
          }
          orderData[i].priceND = c
        }
      }

      if (
        typeof order !== 'undefined' &&
        order.hasOwnProperty('data') &&
        (order.data !== null || typeof order.data !== 'undefined')
      ) {
        await this.$store.dispatch('order/setDefaultOrderComplain', {
          data: orderData,
          section: 'loadmore'
        })
      }
    },
    /**
     * Function to format date (without time detail)
     *
     * @param {*}
     * date
     *
     * @returns
     */
    formatDate(date) {
      // console.warn(date)
      const d = new Date(date)
      let month = '' + (d.getMonth() + 1)
      let day = '' + d.getDate()
      const year = d.getFullYear()
      // console.warn(d)
      if (month.length < 2) month = '0' + month
      if (day.length < 2) day = '0' + day

      return [day, month, year].join('-')
    },
    /**
     * Function to format date (with time detail)
     *
     * @param {*}
     * date
     *
     * @returns
     */
    formatDateTime(date) {
      // console.warn(date)
      const months = [
        'Januari',
        'Februari',
        'Maret',
        'April',
        'Mei',
        'Juni',
        'Juli',
        'Augustus',
        'September',
        'Oktober',
        'November',
        'Desember'
      ]
      const d = new Date(date)
      let month = '' + months[d.getMonth()]
      let day = '' + d.getDate()
      let hour = '' + d.getHours()
      let minute = '' + d.getMinutes()
      const year = d.getFullYear()
      // console.warn(d)
      if (month.length < 2) month = '0' + month
      if (day.length < 2) day = '0' + day
      if (hour.length < 2) hour = '0' + hour
      if (minute.length < 2) minute = '0' + minute

      return [day, ' ', month, ' ', year, ' - ', hour, ':', minute].join('')
    }
  }
}
</script>
