<template>
	<content-loader
		:height="180"
		:width="400"
		:speed="2"
		primary-color="#f3f3f3"
		secondary-color="#ecebeb"
	>
		<rect x="51.91" y="18" rx="5" ry="5" width="200.2" height="20.2" /> 
		<rect x="51" y="63" rx="5" ry="5" width="334.4" height="10" /> 
		<rect x="51" y="83" rx="5" ry="5" width="334.4" height="10" /> 
		<rect x="51" y="103" rx="5" ry="5" width="334.4" height="10" /> 
		<rect x="301" y="36.2" rx="0" ry="0" width="0" height="0" /> 
		<rect x="19.91" y="18" rx="5" ry="5" width="17.6" height="20.2" /> 
		<rect x="369.91" y="18" rx="5" ry="5" width="17.6" height="20.2" /> 
		<rect x="51.91" y="128" rx="5" ry="5" width="64.06" height="20.2" /> 
	</content-loader>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>

<style scoped>
</style>
