<template>
  <v-bottom-nav :active.sync="activeBtn" :value="true" fixed app class="bottomNavSeller">
    <v-btn id="toHome" :ripple="false" flat to="/home">
      <span>Home</span>
      <img
        v-if="routeName==='home'"
        src="~/assets/svg/ic_home_active.svg"
        alt="H"
        class="btmNavImg"
      />
      <img v-else src="~/assets/svg/ic_home.svg" alt="H" class="btmNavImg" />
    </v-btn>
    <v-btn id="toOrder" :ripple="false" flat :to="linkOrder">
      <span>Riwayat</span>
      <img
        v-if="routeName==='order-new' || routeName==='order-sent' || routeName==='order-history' || routeName==='order-complain'"
        src="~/assets/svg/ic_history_active.svg"
        alt="H"
        class="btmNavImg"
      />
      <img v-else src="~/assets/svg/ic_history.svg" alt="H" class="btmNavImg" />
    </v-btn>
    <v-btn id="toProduct" :ripple="false" flat to="/product">
      <span>Produk</span>
      <img
        v-if="routeName==='product'"
        src="~/assets/svg/ic_open_box_active.svg"
        alt="H"
        class="btmNavImg"
      />
      <img v-else src="~/assets/svg/ic_open_box.svg" alt="H" class="btmNavImg" />
    </v-btn>
    <v-btn id="toAccount" :ripple="false" flat :to="linkAccount">
      <span>Chat</span>
      <img
        v-if="routeName==='account'"
        src="~/assets/svg/ic_account_active.svg"
        alt="H"
        class="btmNavImg"
      />
      <img v-else src="~/assets/svg/ic_account.svg" alt="H" class="btmNavImg" />
    </v-btn>
  </v-bottom-nav>
</template>

<style scoped>
/* @media (max-width: 767px) {
  .bottomNavSeller {
    margin: 0 auto;
  }
} */
.bottomNavSeller {
  max-width: 480px !important;
  margin: auto !important;
  left: 0 !important;
  right: 0 !important;
  position: fixed;
  bottom: 0;
}
</style>


<script>
// console.warn('.$route.path', this.$nuxt.$route.path)
// const envProd = process.env.NODE_ENV === 'production'
export default {
  data() {
    return {
      activeBtn: '/home',
      linkOrder: '/order/new',
      linkAccount: '/account'
    }
  },
  computed: {
    routeName: {
      get() {
        return this.$route.name
      }
    }
  }
  // mounted() {
  //   console.warn('mounted route:', this.$route)
  //   console.warn('mounted', this)
  // }
}
</script>

<style>
/* start: hardstyle to remove transition effect on bottomNav active */
.v-item-group.v-bottom-nav .v-btn--active {
  padding-top: 8px;
}
/* end: hardstyle to remove transition effect on bottomNav active */
</style>
