<template>
  <div>
    <v-divider class="divider"></v-divider>
    <v-form>
      <v-layout row wrap>
        <v-flex xs5>
          <h4 class="color-primary mb0">Kuantiti Pembelian</h4>
        </v-flex>
        <v-flex xs3 class="align-right">
          <button
            id="btnSubtract"
            class="g-button g-button-outlined red-outline g-button-qty"
            @click="changeQuantity(currentProduct, 'subtract')"
          >-</button>
        </v-flex>
        <v-flex xs3>
          <v-text-field
            id="fieldQtyToBuy"
            ref="form"
            class="g-textbox-detail g-textbox-qty align-center"
            type="text"
            aria-label="fieldQtyToBuy"
            :disabled="disableQty"
            v-model="qty"
            @input="changeAction"
          />
        </v-flex>
        <v-flex xs1 class="align-right">
          <button id="btnAdd" class="g-button g-button-outlined red-outline g-button-qty">+</button>
        </v-flex>
      </v-layout>
      <hr>

      <v-layout row wrap>
        <v-flex xs5>
          <h4 class="color-primary mb0">Harga (Estimasi)</h4>
        </v-flex>
        <v-flex xs7>
          <p class="g-product-price align-right">Rp {{totalHarga}}</p>
        </v-flex>
      </v-layout>
      <v-btn class="btn-rd" depressed block color="secondary">Bayar di Bayarind</v-btn>
    </v-form>
  </div>
</template>

<style lang="stylus" scoped>
.customField >>> .v-text-field__slot input {
  margin-top: 0;
  height: 48px;
  max-height: 48px;
  font-size: 16px;
  padding: 0 5px;
}

/* supaya default label placeholder di tengah */
.customField >>> .v-text-field__slot .v-label {
  top: 0;
  padding: 0 5px;
  height: 48px;
  line-height: 48px;
}

/* supaya label placeholder swap ke posisi atas border */
.customField >>> .v-text-field__slot .v-label--active {
  -webkit-transform: translateY(-27px) scale(0.75);
  transform: translateY(-27px) scale(0.75);
  background: #fff;
  top: 18px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}

.v-divider {
  border-bottom-width: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider {
  border-width: 8px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05) !important;
  margin-left: -30px;
  margin-right: -30px;
  max-width: none !important;
}

.scrollPrice {
  background-color: rgba(69, 254, 177, 0.1);
  color: #00bcb8 !important;
  padding: 4px 11px;
  height: 25px;
}

.disableQty {
  font-size: 14px;
  outline: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #969696;
  color: #969696;
  border-radius: 4px;
}

.scrollPrice span {
  font-size: 10px;
  color: #00bcb8;
  font-weight: bold;
}

.g-bottom-separator {
  margin-bottom: 180px;
}

.g-home-product p {
  margin: 0;
  color: #00bcb8;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.g-home-product a {
  color: #969696;
  font-size: 10px;
  display: table;
  margin: 1px 0;
  float: right;
}

.g-home-product a img {
  vertical-align: middle;
}

/* Button */
.g-button-small {
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
  height: 27px !important;
  padding: 0 10px;
  text-transform: none;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  color: #969696;
  width: 105px;
  text-align: center;
  margin: 6px 0px !important;
}

.color-default {
  color: #383838 !important;
}

.color-primary {
  color: #00bcb8 !important;
}

.color-secondary {
  color: #fe4544 !important;
}

.add-cart-button {
  width: 48px;
  padding: 2px !important;
  min-width: 44px !important;
  height: 48px !important;
}

.fav-button {
  height: 43px !important;
  padding: 0px !important;
  min-width: 43px;
  border-radius: 4px;
  -webkit-box-shadow: 0 -0.1px 7px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 -0.1px 7px 0 rgba(0, 0, 0, 0.16);
  border: none !important;
}

.g-product-favorite {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 1;
}

.g-product-favorite button {
  border-radius: 50% !important;
  background-color: #fff !important;
  padding-top: 2px !important;
}

.pos-relative {
  position: relative !important;
  margin-top: -23px !important;
}

.product-img {
  height: 220px !important;
  width: auto !important;
}

.g-slider {
  padding-bottom: 6px !important;
}

.center-load {
  margin-top: 150px;
  text-align: center;
}

.textFailCheckOut {
  color: #969696;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 15px;
}

.titleFailCheckOut {
  padding: 15px;
  color: #fc4827;
  font-weight: 500;
}

.closePopup {
  background: none !important;
  color: #969696;
}

.dialogWrapper {
  padding: 10px !important;
}

.g-textbox-detail {
  width: 100%;
  outline: none;
}

.g-textbox-detail.g-textbox-qty {
  width: 86%;
  text-align: center;
  margin-left: 7px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  border: none;
  color: #7c7c7c;
  display: flex !important;
}

.g-textbox-detail.v-text-field >>> .v-input__slot {
  margin-bottom: 0px !important;
  margin-top: -5px !important;
}

.g-textbox-detail.v-text-field >>> .v-input__slot input {
  font-size: 16px !important;
  text-align: center !important;
}

.empty-stock {
  position: absolute;
  top: 36px;
  right: 20px;
  z-index: 1;
  margin: auto;
}

.empty-stock h4 {
  background: #969696;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px !important;
  opacity: 0.9;
  font-size: 9pt !important;
  text-align: center;
}

.dialogShare {
  width: 100% !important;
  height: 100%;
  min-width: 280px;
  /* min-height: 260px !important; */
  display: inline-flex;
  z-index: 5;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  max-width: 865px;
  /* bottom: 0px; */
}

.opendialogShare {
  display: flex;
  z-index: 5;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: visible;
}

.headerModal {
  font-size: 14px;
  font-family: Robot, sans-serif;
}

.checkPriceList {
  font-size: 14px;
  line-height: 24px;
}

.closePriceList {
  font-size: 14px;
  cursor: pointer;
}

.g-product-favorite >>> .v-btn.v-btn--outline:hover {
  box-shadow: 0 -0.1px 7px 0 rgba(0, 0, 0, 0.16);
}

.g-product-block .v-dialog__container {
  width: 100%;
}

.g-product-action {
  z-index: 201 !important;
}

.g-product-action.customAction {
  box-shadow: none !important;
}

.pricelist-box {
  position: absolute;
  bottom: 180px;
  max-width: 480px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.g-product-price {
  font-size: 16px;
  font-weight: 500;
  color: #FFAF20;
  text-align: right;
}
</style>

<script>
export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    harga: {
      type: Number,
      default: 0
    },
    stok: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      qty: 0,
      totalHarga: 0
    }
  },
  methods: {
    changeAction() {
      if (this.qty > this.stok) {
        this.qty = this.stok
      }
      this.totalHarga = this.qty * this.harga
    }
  }
}
</script>
