<template>
  <v-dialog id="confirmDialog" v-model="isShow" max-width="500px" persistent>
    <v-card class="dialogWrapper">
      <v-card-title class="popupDialog">
        <h3>{{ title }}</h3>
        <v-spacer></v-spacer>
      </v-card-title>
      <v-card-text class="dialogPopup">
        <!-- eslint-disable-next-line vue/no-v-html -->
        <p v-html="body" />
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          v-if="!loadingButton"
          id="btnCancel"
          depressed
          class="text-none cancel"
          :disabled="disableButton"
          @click="actionCancel"
        >{{ textCancel }}</v-btn>
        <v-btn
          id="btnConfirm"
          depressed
          class="text-none yes"
          :disabled="disableButton"
          :loading="loadingButton"
          @click="actionConfirm"
        >{{ textConfirm }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    body: {
      type: String,
      required: true
    },
    isShow: {
      type: Boolean,
      required: true
    },
    textConfirm: {
      type: String,
      required: false,
      default: 'OK'
    },
    textCancel: {
      type: String,
      required: false,
      default: ''
    },
    actionCancel: {
      type: Function,
      required: false,
      default: () => (this.isShow = false)
    },
    actionConfirm: {
      type: Function,
      required: false,
      default: () => (this.isShow = false)
    },
    disableButton: {
      type: Boolean,
      required: false,
      default: false
    },
    loadingButton: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style scoped>
.dialogPopup {
  color: #969696;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 15px;
}
.popupDialog {
  padding: 15px;
  color: #00bcb8;
  font-weight: 500;
}
.yes {
  background: none !important;
  color: #fc4827;
}
.cancel {
  background: none !important;
  color: #969696;
}
.dialogWrapper {
  padding: 10px !important;
}
</style>
