<template>
  <v-btn depressed @click="setIncrement(1)">increment {{ counter }}</v-btn>
</template>
<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    // If you have only,  one state/getter object spread operators are not necessarily needed
    // But we'll use it for now, so you can see how they are used
    // mapState/mapGetter accepts an array of strings as parameter
    ...mapState(['counter'])
    // counter() {
    //   return this.$store.getters.loadedCounter
    // }
  },
  methods: {
    ...mapActions(['setIncrement'])
  }
}
</script>
