<template>
  <div class="centerPage">
    <center>
      <img src="~/assets/img/thinking.png" alt="empty_box" width="180px">
      <p class="textNotFound">Data tidak ditemukan</p>
    </center>
  </div>
</template>
<style lang="stylus" scoped>
.centerPage {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  left: 50%;
  margin: 0px 0 0 -150px;
  padding-top: 60px;
}

.textNotFound {
  font-size: 13px;
}
</style>
