<template>
  <div class="invoiceTopbar">
    <v-card flat>
      <v-card-title class="px-0">
        <div>
          <h4 class="invoice-title">Order/{{orderid}}/{{ invoiceId }}</h4>
          <span class="invoice-date">{{ date }}</span>
        </div>
      </v-card-title>
    </v-card>
  </div>
</template>

<style scoped>
.invoiceTopbar {
  padding: 5px 25px;
}
.invoice-title {
  width: auto;
  height: 18px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.85;
  color: #383838;
}
.invoice-date {
  width: 119px;
  height: 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.33;
  color: #969696;
}
</style>


<script>
export default {
  props: {
    invoiceId: {
      type: String,
      required: true
    },
    date: {
      type: String,
      required: true
    },
    orderid: {
      type: [String, Number],
      required: true
    }
  },
  data() {
    return {
      data: []
    }
  }
}
</script>
