<template>
  <content-loader
    :height="650"
    :width="400"
    :speed="2"
    primary-color="#f3f3f3"
    secondary-color="#ecebeb"
  >
    <rect x="113" y="0" rx="4" ry="4" width="171.99" height="23.552000000000003"/>
    <rect x="-3.23" y="59.93" rx="4" ry="4" width="411.84" height="4.992000000000001"/>
    <rect x="24" y="75.2" rx="4" ry="4" width="200.07" height="19.904"/>
    <rect x="24" y="104" rx="4" ry="4" width="171.99" height="18.368000000000002"/>
    <rect x="-0.23" y="139.2" rx="4" ry="4" width="400" height="10.816"/>
    <rect x="29" y="168" rx="4" ry="4" width="143.91" height="22.656000000000002"/>
    <rect x="27.4" y="206.01" rx="4" ry="4" width="334.62" height="4.032"/>
    <rect x="33" y="221.2" rx="4" ry="4" width="97.11" height="89.92000000000002"/>
    <rect x="148" y="227" rx="4" ry="4" width="100.62" height="16.64"/>
    <rect x="149" y="252" rx="4" ry="4" width="100.62" height="14.847999999999999"/>
    <rect x="150" y="279.2" rx="4" ry="4" width="76.05" height="18.176"/>
    <rect x="268.5" y="277.2" rx="4" ry="4" width="101.79" height="16.448"/>
    <rect x="-2.23" y="323.2" rx="4" ry="4" width="411.84" height="10.816"/>
    <rect x="27" y="355" rx="4" ry="4" width="100.62" height="16.64"/>
    <rect x="29" y="380" rx="4" ry="4" width="100.62" height="16.64"/>
    <rect x="253" y="353" rx="4" ry="4" width="100.62" height="16.64"/>
    <rect x="253" y="376" rx="4" ry="4" width="100.62" height="16.64"/>
    <rect x="24.4" y="419.01" rx="4" ry="4" width="334.62" height="4.032"/>
    <rect x="29" y="444" rx="4" ry="4" width="125.19000000000001" height="16.64"/>
    <rect x="238.5" y="442" rx="4" ry="4" width="125.19000000000001" height="16.64"/>
    <rect x="-0.23" y="482.2" rx="4" ry="4" width="411.84" height="10.816"/>
    <rect x="25" y="517" rx="4" ry="4" width="145.08" height="16.64"/>
    <rect x="25" y="562" rx="4" ry="4" width="166.14" height="16.64"/>
    <rect x="24" y="588" rx="4" ry="4" width="166.14" height="16.64"/>
    <rect x="246.5" y="561" rx="4" ry="4" width="120.51" height="16.64"/>
    <rect x="245.5" y="585" rx="4" ry="4" width="120.51" height="16.64"/>
  </content-loader>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>
