<template>
  <v-card-text class="text-xs-center caption ">
    <h1 class="primary--text mb20 ">Bagikan</h1>
    <p class="primary--text">
      Tingkatkan jumlah pelanggan lewat media sosial
dan permudah sistem pembayaran
    </p>
    <v-btn
      id="btnSubmitLogin"
      to="/login"
      block
      depressed
      color="primary"
      class="text-none mb20"
      @click="submit"
    >Lanjut</v-btn>
  </v-card-text>
</template>

<style lang="stylus" scoped>
.caption {
    margin-top: 180px;
}
.mb20 {
    margin-bottom : 20px;
}
</style>

<script>
export default {
  data() {
    return {
      activeBtn: '/login'
    }
  },
  computed: {
    routeName: {
      get() {
        return this.$route.name
      }
    }
  }
}
</script>
