<template>
  <v-card-text class="text-xs-center caption ">
    <p>
      Belum memiliki Akun?
      <nuxt-link
        id="toTermsConds"
        to="/help/syarat-ketentuan"
        class="primary--text"
      >Daftar Sekarang</nuxt-link>
    </p>
  </v-card-text>
</template>

<style lang="stylus" scoped>
.caption {
  position : absolute;
  bottom : 5px;
}
</style>
