<template>
  <div class="headBar">
    <img width="100" height="23.98" src="~/assets/svg/logo-lanscape-color.svg" class="logoLanscape" alt="<"/>
    <img width="139.5" height="219.49" src="~/assets/svg/share.svg" class="headLogo" alt="<"/>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: ''
    }
  },
  methods: {
    back() {
      const route = this.$store.$router.app._route
      if (
        typeof route.query.utm_source !== 'undefined' &&
        route.query.utm_source === 'notifications'
      ) {
        const url = route.path.replace(`/${route.params.id}`, '')
        this.$router.replace(url)
      } else {
        this.$router.back()
        if (window.fcWidget !== undefined) {
          window.fcWidget.destroy()
          delete window.fcWidget
        }
      }
    }
  },
  head() {
    const self = this
    if (process.client) {
      this.title = document.title
    }
    return {
      changed({ title }) {
        // console.warn('title:', title)
        const rep = ' | ' + process.env.pocimas_app_title
        self.title = title.replace(rep, '')
      }
    }
  }
}
</script>

<style scoped>
.headBar {
  /* padding: 0 15px; */
  background: #ffebbc;
  z-index: 5;
  box-shadow: 0 -0.1px 6px 0 rgba(0, 0, 0, 0.08);
  clear: both;
  position: fixed;
  width: 100%;
  /* margin: auto; */
  left: 0;
  right: 0;
  height: 362px;
  border-radius: 0 0 0 70px;
}
.headBar >>> .container {
  padding: 0;
}
.headBar >>> .v-toolbar__content {
  padding: 0;
  justify-content: space-between; /* supaya bisa di set align center utk title */
}

/* penyeragaman margin */
.headBar >>> .v-toolbar__content div {
  margin: 0;
}
.headBar >>> .v-toolbar__content > *:first-child {
  margin: 0;
}
/* supaya align center, tambahkan margin sebesar lebar dari left menu */
.headBar >>> .v-toolbar__content > .v-toolbar__title {
  margin-right: 32px;
}
.headLogo {
  display: block;
  margin: 60px auto;
}
.logoLanscape {
  display: block;
  margin: 10px;
}
</style>
