<script>
// use ':content' props as HTML string
import Vue from 'vue'
export default {
  props: {
    content: {
      type: String,
      required: true
    }
  },
  render(h) {
    const toCompile = `<div>${String(this.content).replace(
      /(\r\n|\n|\r)/gm,
      ''
    )}</div>`
    // console.warn('HTML data', toCompile)
    return h('div', { class: '' }, [h(Vue.compile(toCompile))])
  }
}
</script>
