<template>
  <div>
    <v-divider class="divider"></v-divider>
    <v-form>
      <v-text-field
        v-model="keterangan"
        class="customField"
        outline
        label="Keterangan"
        required
        :clearable="nameClearable"
        clear-icon="cancel"
        @blur="nameClearable = false"
        @focus="nameClearable = true"
        @click:clear="isNameValid = false"
        @input="say"
      ></v-text-field>
      <v-select
        class="customSelect"
        v-model="selectedSelect"
        :items="choose"
        v-if="check"
        label="Pilih halaman / grup Facebook"
        outline
        multiple
        :ripple="false"
        @input="say2"
        @change="apa"
      ></v-select>
      <v-dialog
        ref="dialog_tgl_awal"
        v-model="modal_tgl_awal"
        :return-value.sync="tgl_awal"
        persistent
        lazy
        full-width
        class="customField"
      >
        <v-text-field
          slot="activator"
          v-model="tgl_awal"
          multiple
          chips
          small-chips
          readonly
          label="Post terjadwal"
          clearable
          single-line
          outline
          @click="tgl_awal = currentDate"
        ></v-text-field>
        <v-date-picker v-model="tgl_awal" full-width scrollable>
          <v-spacer></v-spacer>
          <v-btn depressed color="secondary" @click="modal_tgl_awal = false">Cancel</v-btn>
          <v-btn depressed color="primary" @click="$refs.dialog_tgl_awal.save(tgl_awal)">OK</v-btn>
        </v-date-picker>
      </v-dialog>
      <v-layout row wrap class="mt-3">
        <v-flex xs2>
          <img
            width="32"
            height="32"
            :src="check ? checked.facebook : unchecked.facebook"
            class="left"
            alt="<"
            style="margin: 0 10px 10px 0;"
            @click="checkingFB"
          />
        </v-flex>
        <v-flex xs2>
          <img
            width="32"
            height="32"
            :src="check2 ? checked.twitter : unchecked.twitter"
            class="left"
            alt="<"
            @click="checkingTwitter"
          />
        </v-flex>
        <v-flex xs3>
          <img
            width="32"
            height="32"
            :src="check3 ? checked.instagram : unchecked.instagram"
            class="left"
            alt="<"
            @click="checkingInstagram"
          />
        </v-flex>
      </v-layout>
      <h4 class="mt-3 mb-3" v-if="check3">
        Instagram saat ini tidak mensupport auto post. Silahkan salin tautan ini untuk link pembayaran pada post sosial media Anda.
        <input
          id="copyingURL"
          type="hidden"
          :value="url"
        />
        <span class="secondary--text salin" @click.stop.prevent="copyUrl">Salin Link pembayaran</span>
      </h4>
      <v-btn class="btn-rd mt-5 pb-2" depressed block color="secondary" @click="goPost">Terbitkan</v-btn>
    </v-form>
  </div>
</template>

<style lang="stylus" scoped>
.customField >>> .v-text-field__slot input {
  margin-top: 0;
  height: 48px;
  max-height: 48px;
  font-size: 16px;
  padding: 0 5px;
}

/* supaya default label placeholder di tengah */
.customField >>> .v-text-field__slot .v-label {
  top: 0;
  padding: 0 5px;
  height: 48px;
  line-height: 48px;
}

/* supaya label placeholder swap ke posisi atas border */
.customField >>> .v-text-field__slot .v-label--active {
  -webkit-transform: translateY(-27px) scale(0.75);
  transform: translateY(-27px) scale(0.75);
  background: #fff;
  top: 18px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}

.v-divider {
  border-bottom-width: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider {
  border-width: 8px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05) !important;
  margin-left: -30px;
  margin-right: -30px;
  max-width: none !important;
}

.customSelect >>> .v-select__slot .v-select__selections {
  margin-top: 0px !important;
  height: 48px;
  max-height: 48px;
  font-size: 16px;
  padding: 0 5px !important;
}

.customSelect >>> .v-select__slot >>> .v-select__selections {
  padding-top: 0px !important;
}

/* supaya default label placeholder di tengah */
.customSelect >>> .v-select__slot .v-label {
  top: 0;
  padding: 0 5px;
  height: 48px;
  line-height: 48px;
}

/* supaya label placeholder swap ke posisi atas border */
.customSelect >>> .v-select__slot .v-label--active {
  -webkit-transform: translateY(-27px) scale(0.75);
  transform: translateY(-27px) scale(0.75);
  background: #fff;
  top: 18px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}
</style>

<script>
import { mapState } from 'vuex'
import { currencyFormatter } from '~/utils'
import facebookActive from '~/assets/svg/ic-facebook-active.svg'
import facebook from '~/assets/svg/ic-facebook.svg'
import twitterActive from '~/assets/svg/ic-twitter-active.svg'
import twitter from '~/assets/svg/ic-twitter.svg'
import instagramActive from '~/assets/svg/ic-instagram-active.svg'
import instagram from '~/assets/svg/ic-instagram.svg'
export default {
  middleware: 'authenticated',
  head() {
    return {
      title: 'Jual di Sosial Media',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'List_order_tab',
          name: 'description',
          content: 'Order Seller Pocimas'
        },
        {
          hid: 'Order_seller_keywords',
          name: 'keywords',
          content: 'order, seller, Pocimas'
        }
      ]
    }
  },
  data() {
    return {
      showButton: false,
      nameClearable: false,
      check: false,
      check2: false,
      check3: false,
      checked: {
        facebook: facebookActive,
        twitter: twitterActive,
        instagram: instagramActive
      },
      unchecked: {
        facebook,
        twitter,
        instagram
      },
      keterangan: '',
      modal_tgl_awal: false,
      tgl_awal: [],
      currentDate: '',
      choose: [],
      config: 'facebook/page',
      selectedSelect: '',
      isi: ['facebook/group', 'facebook/page'],
      url: 'product/asdpoa56ma8891c'
    }
  },
  computed: {
    ...mapState({
      message: state => state.product.message,
      titleProd: state => state.product.prodTitle,
      stockProd: state => state.product.prodStock,
      priceProd: state => state.product.prodPrice
    })
  },
  mounted: async function(store = this.$store) {
    const hasanData = await store.dispatch('product/getGroup')
    const hasan = hasanData.data
    console.warn('hasan', hasan)
    const newHasan = []
    for (const i in hasan) {
      newHasan.push({ text: hasan[i].name, value: hasan[i].id })
    }
    this.choose = newHasan
    console.warn('this.choose', this.choose)
  },
  methods: {
    checkingFB() {
      this.check = !this.check
    },
    checkingTwitter() {
      this.check2 = !this.check2
    },
    checkingInstagram() {
      this.check3 = !this.check3
    },
    say() {
      this.$store.commit('product/setState', {
        message: this.keterangan
      })
    },
    say2() {
      const isi2 = console.warn('this.keterangan', this.selectedSelect)
      // this.$store.commit('product/setState', {
      //   message: this.keterangan
      // })
    },
    apa() {
      console.warn('this.selectedSelect', this.selectedSelect)
    },
    async goPost() {
      const message = this.keterangan
      const title = this.titleProd
      const price = `Rp${currencyFormatter(this.priceProd)}`
      const purePrice = this.priceProd
      const stock = this.stockProd
      // console.warn('titititi', title)
      // console.warn('prprprprppr', price)
      // console.warn('prprprprppr', stock)

      const isi = this.isi
      const selection = this.selectedSelect
      console.warn('isi', isi)
      console.warn('selection', selection)

      for (const i in isi) {
        for (const j in selection) {
          const postSetting = {
            message,
            config: isi[i],
            id: selection[j],
            title,
            price,
            stock,
            purePrice
          }
          this.$store.dispatch('product/postSocmed', postSetting)
        }
      }
      if (this.check2) {
        await this.$store.dispatch('product/postTwitter', {
          title,
          price,
          message
        })
      }
      const isi2 = {
        message,
        title,
        stock,
        purePrice
      }
      await this.$store.dispatch('product/postInventory', isi2)
      // const link = 'https:/localhost:3000/product/buy'
      // this.$router.replace(link)
    },
    /**
     * Function to copy url address from map
     *
     * @param {*}
     *
     * @returns
     */
    copyUrl() {
      const copyHideUrl = document.querySelector('#copyingURL')
      copyHideUrl.setAttribute('type', 'text')
      copyHideUrl.select()

      try {
        const successful = document.execCommand('copy')
        const alertMsg = {
          msg: successful
            ? 'Link pembayaran berhasil disalin'
            : 'Gagal salin link',
          color: 'primary'
        }
        this.$store.dispatch('ui/showAlert', alertMsg, { root: true })
      } catch (err) {
        const alertMsg = {
          msg: 'Oops, unable to copy'
        }
        this.$store.dispatch('ui/showAlert', alertMsg, { root: true })
      }

      /* unselect the range */
      copyHideUrl.setAttribute('type', 'hidden')
      window.getSelection().removeAllRanges()
    }
  }
}
</script>
