<template>
  <v-form ref="form" v-model="valid" lazy-validation @keyup.native.enter="valid && submit($event)">
    <v-text-field
      id="txtUsername"
      v-model="username"
      :rules="usernameRules"
      :loading="loginLoading"
      :disabled="loginLoading"
      label="Username"
      autofocus
      outline
      required
      dont-fill-mask-blanks
      browser-autocomplete="new-username"
      class="dense-inputs customField"
      :clearable="widthClearable"
      clear-icon="cancel"
      @blur="widthClearable = false"
      @focus="widthClearable = true"
    >
      <!-- <template v-slot:append>
        <img
          width="24"
          height="24"
          src="~/assets/svg/ic-cancel-fill.svg"
          alt
          clearable
          style="cursor:pointer;"
          @click="username = ''"
        >
      </template>-->
    </v-text-field>

    <v-text-field
      id="txtPassword"
      v-model="password"
      :rules="passwordRules"
      :append-icon="showpass ? 'visibility_off' : 'visibility'"
      :type="showpass ? 'text' : 'password'"
      :loading="loginLoading"
      :disabled="loginLoading"
      label="Kata Sandi"
      browser-autocomplete="new-password"
      class="customField"
      dont-fill-mask-blanks
      required
      outline
      @click:append="showpass = !showpass"
    >
      <template v-slot:append>
        <img
          width="24"
          height="24"
          :src="require(showpass ? '~/assets/svg/ic-unseen.svg': '~/assets/svg/ic-seen.svg')"
          alt
          style="cursor:pointer;"
          @click="showpass = !showpass"
        />
      </template>
    </v-text-field>
    <div class="text-xs-right">
      <v-btn
        id="btnForgotPassword"
        :ripple="false"
        flat
        class="text-none btnlink primary--text"
        @click="goForgot"
      >Lupa kata sandi?</v-btn>
    </div>
    <v-btn
      id="btnSubmitLogin"
      :loading="loginLoading"
      :disabled="!valid || loginLoading"
      :ripple="false"
      block
      depressed
      color="primary"
      class="text-none"
      @click="submit"
    >Masuk</v-btn>

    <!-- <p class="text-xs-center caption mt-3 mb-3">Belum Bergabung Dengan Pocimas?</p>

    <v-btn
      id="toRegister"
      :disabled="!valid || loginLoading"
      :ripple="false"
      block
      outline
      depressed
      color="secondary"
      class="text-none"
      nuxt 
      to="/ongoing"
    >Daftar</v-btn>-->
  </v-form>
</template>
<style scoped>
.v-btn.text-none.btnlink {
  height: 24px;
  margin: 0 0 6px 0;
  padding: 3px;
  font-size: 13px;
}

/* supaya placeholder & text pada input tetap berada di tengah2 box */
.customField >>> .v-text-field__slot input {
  margin-top: 0;
  /* height: 48px; */
  max-height: 48px;
  font-size: 16px;
  padding: 27px 5px;
}

/* supaya default label placeholder di tengah */
.customField >>> .v-text-field__slot .v-label {
  top: 0;
  padding: 0 5px;
  height: 48px;
  line-height: 48px;
}
/* supaya label placeholder swap ke posisi atas border */
.customField >>> .v-text-field__slot .v-label--active {
  -webkit-transform: translateY(-27px) scale(0.75);
  transform: translateY(-27px) scale(0.75);
  background: #fff;
  top: 18px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}

.theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
  background-color: #969696 !important;
  color: #fff !important;
}
</style>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  data: () => ({
    showpass: false,
    valid: true,
    widthClearable: true,
    usernameRules: [
      v => !!v || 'Username harus diisi',
      v => (v && v.length > 3) || 'Username harus lebih dari 3 karakter'
    ],
    passwordRules: [
      v => !!v || 'Kata sandi harus diisi',
      v => (v && v.length > 3) || 'Password harus lebih dari 3 karakter'
    ]
  }),

  computed: {
    ...mapState({
      username: state => state.user.username,
      password: state => state.user.password,
      loginLoading: state => state.user.loginLoading
    }),
    username: {
      get() {
        return this.$store.state.user.username
      },
      set(value) {
        this.setState({ username: value })
      }
    },
    password: {
      get() {
        return this.$store.state.user.password
      },
      set(value) {
        this.setState({ password: value })
      }
    }
  },
  methods: {
    ...mapActions({ doLogin: 'user/doLogin' }),
    ...mapMutations({ setState: 'user/setState' }),
    openSnackbar() {
      const alertMsg = {
        msg:
          'Hubungi customer service pocimas & infokan username/no handphone anda',
        timeout: 4000,
        color: 'primary'
      }
      this.$store.dispatch('ui/showAlert', alertMsg)
    },
    submit() {
      const params = window.$nuxt._route
      if (this.$refs.form.validate()) {
        this.doLogin().then(() => {
          this.$router.replace('/home')
        })
      }
    },
    goForgot() {
      this.$router.push('/forgot-password')
    }
  }
}
</script>
