<template>
  <v-snackbar
    v-model="snackbar"
    :timeout="0"
    :top="true"
    :multi-line="true"
    color="#FFC107"
  >
    Koneksi ke internet terputus.
    <v-btn :ripple="false" flat @click="snackbar = false">
      <v-icon>clear</v-icon>
    </v-btn>
  </v-snackbar>

</template>

<script>
export default {
  data() {
    return {
      snackbar: this.$nuxt.isOffline
    }
  }
}
</script>
