<template>
  <div class="container">
    <content-loader
      class="loader"
      :height="206"
      :width="400"
      :speed="2"
      primary-color="#f3f3f3"
      secondary-color="#ecebeb"
    >
      <rect x="0" y="5" rx="4" ry="4" width="177" height="9"/>
      <rect x="0" y="30" rx="3" ry="3" width="145" height="6"/>
      <rect x="0" y="68" rx="3" ry="3" width="400" height="2.5"/>
      <rect x="0" y="90" rx="3" ry="3" width="170" height="20"/>
      <rect x="0" y="132" rx="3" ry="3" width="400" height="3"/>
      <rect x="250" y="154" rx="3" ry="3" width="135" height="36"/>
    </content-loader>
  </div>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>

<style scoped>
.bolderBorder {
  margin-top: 20px;
}
</style>
