<template>
  <div class="centerPage">
    <center>
      <img src="~/assets/img/img-empty-search.png" alt="empty_box" width="108px" height="108px">
      <h1 class="textNotFound">{{ text }}</h1>
    </center>
  </div>
</template>
<style lang="stylus" scoped>
.centerPage {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  left: 50%;
  margin: 0px 0 0 -150px;
  padding-top: 60px;
}

.textNotFound {
  font-size: 13px;
  margin-top: 10%;
  color: #969696;
}
</style>
<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>
