<template>
  <v-card class="layoutQuantity">
    <v-layout row wrap>
      <v-flex xs-6>
        <p
          v-for="oh in originPrice"
          :key="oh.id"
          class="noneTxtMargin"
          style="text-align:left"
        >Quantity {{ oh.quantity }}</p>
      </v-flex>
      <v-flex xs-6>
        <p
          v-for="oh in originPrice"
          :key="oh.price"
          class="font-weight-bold text-xs-right noneTxtMargin"
        >Rp{{ Math.trunc(oh.price).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</p>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<style scoped>
.noneTxtMargin {
  margin-bottom: 0;
}
</style>

<script>
export default {
  props: {
    originPrice: {
      type: Array,
      required: true
    }
  }
}
</script>
