<template>
  <v-layout>
    <v-btn
      outline
      class="text-none btn-ghost"
      style="margin-bottom: 15px;"
      depressed
      :loading="isLoading"
      :disabled="isLoading"
      :ripple="false"
      color="secondary"
      @click="pagination"
    >Lihat Lainnya</v-btn>
  </v-layout>
</template>
<style scope>
.btn-ghost {
  width: 100% !important;
  margin: 10px 0 20px 0;
}
</style>
<script>
import { mapState, mapMutations } from 'vuex'
import { _isUndefined, _isEmptyObj } from '~/utils'
export default {
  computed: {
    ...mapState({
      isLoading: state => state.product.pageButtonLoading,
      listProduct: state => state.product.list
    })
  },
  methods: {
    ...mapMutations({
      setState: 'product/setState',
      setLoadMoreLoading: 'product/setLoadMoreLoading'
    }),
    /**
     * Function to get more products after button "lainnya" is clicked
     * @returns
     */
    async pagination() {
      this.setState({ pageButtonLoading: true, checkingAll: [] })
      // const limit = 2
      const auth = {
        token: this.$store.state.user.accKey,
        usrUUID: this.$store.state.user.uuid,
        dontNeedLoading: true
      }
      const mart = await this.$store.dispatch('mart/getMart', auth)
      if (
        !_isUndefined(mart) &&
        mart.hasOwnProperty('data') &&
        !_isEmptyObj(mart.data)
      ) {
        await this.$store.dispatch('mart/setDefaultMart', mart.data)
      }
      const authParams = {
        token: this.$store.state.user.accKey,
        usrUUID: this.$store.state.mart.default.id,
        limitNew: this.$store.state.product.limit,
        isNew: true,
        dontNeedLoading: true
      }

      const product = await this.$store.dispatch(
        'product/getProductsMore',
        authParams
      )
      if (
        !_isUndefined(product) &&
        product.hasOwnProperty('data') &&
        !_isEmptyObj(product.data)
      ) {
        if (
          product.data.searchAPISearch.documents.length > 0 &&
          product.data.searchAPISearch.documents[0] !== null
        ) {
          // check if we still need loadmore button or no longer
          if (
            product.data.searchAPISearch.documents.length ===
            this.listProduct.length
          ) {
            this.setState({ hideMoreBtn: true })
          }
          await this.$store.dispatch(
            'product/setListProduct',
            product.data.searchAPISearch.documents
          )
          await this.$store
            .dispatch('user/setHasProduct', { param: true })
            .finally(this.setState({ pageButtonLoading: false }))
        } else {
          await this.$store
            .dispatch('user/setHasProduct', { param: false })
            .finally(this.setState({ pageButtonLoading: false }))
        }
      }
      this.setLoadMoreLoading(false)
    }
  }
}
</script>
