<template>
  <div class="centerPage">
    <center>
      <img src="~/assets/img/product_not_found.png" alt="empty_box" width="144px" height="168px">
      <p class="textNotFound">{{textnofo}}</p>
    </center>
  </div>
</template>
<style lang="stylus" scoped>
.centerPage {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  left: 50%;
  margin: 0px 0 0 -150px;
  padding-top: 60px;
}

.textNotFound {
  font-size: 13px;
  width: 184px;
  color: #969696;
}
</style>
<script>
export default {
  props: {
    textnofo: {
      type: String,
      required: true
    }
  }
}
</script>
