<template>
  <div class="container">
    <content-loader
      class="loader"
      :height="150"
      :width="325"
      :speed="2"
      primary-color="#f3f3f3"
      secondary-color="#ecebeb"
    >
      <rect x="0" y="75" rx="0" ry="0" width="20" height="20"/>
      <rect x="30" y="90" rx="0" ry="0" width="33" height="90"/>
      <rect x="115" y="73" rx="0" ry="0" width="160" height="13"/>
      <rect x="115" y="90" rx="0" ry="0" width="160" height="13"/>
      <!-- <rect x="115" y="107" rx="0" ry="0" width="40" height="13"/> -->
    </content-loader>
    <v-divider class="loaderDivider"></v-divider>
  </div>
</template>

<style scoped>
.container {
  padding: 0px;
}
.loaderDivider {
  border-width: 3px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05) !important;
  margin-left: -50px;
  margin-right: -50px;
  margin-top: 10px;
  max-width: none !important;
  /* margin-bottom: 5px; */
}
</style>


<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>
