<template>
  <div class="container">
    <content-loader
      class="loader"
      :height="180"
      :width="240"
      :speed="2"
      primary-color="#f3f3f3"
      secondary-color="#ecebeb"
    >
      <rect x="3" y="20" rx="3" ry="3" width="18" height="18"/>
      <rect x="32" y="20" rx="3" ry="3" width="60" height="60"/>
      <rect x="115" y="20" rx="3" ry="3" width="125" height="10"/>
      <rect x="115" y="34" rx="3" ry="3" width="100" height="8"/>
      <rect x="115" y="56" rx="3" ry="3" width="55" height="10"/>
      <rect x="185" y="56" rx="3" ry="3" width="55" height="10"/>
      <rect x="115" y="70" rx="3" ry="3" width="40" height="8"/>
      <rect x="185" y="70" rx="3" ry="3" width="40" height="8"/>
      <rect x="115" y="84" rx="3" ry="3" width="70" height="20"/>
      <!-- <rect x="70" y="25" rx="0" ry="0" width="165" height="10"/>
      <rect x="19" y="45" rx="0" ry="0" width="35" height="24"/> -->
      <!-- <rect x="73" y="27" rx="0" ry="0" width="50" height="15"/> -->
      <!-- <rect x="70" y="40" rx="0" ry="0" width="70" height="10"/>
      <rect x="70" y="63" rx="0" ry="0" width="23" height="8"/>
      <rect x="70" y="75" rx="0" ry="0" width="26" height="8"/>
      <rect x="144" y="63" rx="0" ry="0" width="47" height="8"/>
      <rect x="144" y="75" rx="0" ry="0" width="57" height="8"/> -->
      <!-- <rect x="0" y="147" rx="0" ry="0" width="257" height="3"/> -->
      <!-- <rect x="9" y="110" rx="0" ry="0" width="18" height="17"/>
      <rect x="41" y="110" rx="0" ry="0" width="86" height="15"/>
      <rect x="165" y="109" rx="0" ry="0" width="77" height="23"/> -->
    </content-loader>
    <v-divider class="loaderDivider"></v-divider>
  </div>
</template>

<style scoped>
.container {
  padding: 0px;
}
.loaderDivider {
  border-width: 8px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05) !important;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -80px;
  max-width: none !important;
  /* margin-bottom: 5px; */
}
</style>


<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>
