<template>
  <div class="contTab">
    <v-tabs fixed-tabs grow class="customTab" color="primary">
      <v-tabs-slider color="white" class="slide"></v-tabs-slider>
      <v-tab :ripple="false" value="order/new" to="/order/new" class="non-capt">
        <h5>Pesanan Baru</h5>
      </v-tab>
      <v-tab :ripple="false" value="order/packaged" to="/order/packaged" class="non-capt">
        <h5>Dikemas</h5>
      </v-tab>
      <v-tab :ripple="false" value="order/sending" to="/order/sending" class="non-capt">
        <h5>Dikirim</h5>
      </v-tab>
      <v-tab :ripple="false" value="order/canceled" to="/order/canceled" class="non-capt">
        <h5>Dibatalkan</h5>
      </v-tab>
      <v-tab :ripple="false" value="order/received" to="/order/received" class="non-capt">
        <h5>Diterima</h5>
      </v-tab>
    </v-tabs>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  // components,
  data() {
    return {
      data: []
    }
  }
}
</script>
<style scoped>
.contTab {
  /* padding-top: 56px; */
  margin-top: 56px;
  width: 100%;
  max-width: 480px;
  position: fixed;
  z-index: 100;
}
.non-capt {
  text-transform: none !important;
}
.slide {
  height: 3px !important;
  width: 100%;
}
.customTab >>> a {
  color: #fff;
  font-size: 14px;
}
.customTab >>> a.v-tabs__item--active {
  font-weight: 600;
}
.customTab >>> .slide {
  height: 4px !important;
}
</style>
