<template>
		<content-loader
		:height="108.5"
		:width="400"
		:speed="2"
		primary-color="#f3f3f3"
		secondary-color="#ecebeb"
	>
	<rect x="0" y="100.8" rx="0" ry="0" width="403" height="1.3" />  
		<circle cx="33" cy="45" r="32" /> 
		<rect x="90" y="24" rx="3" ry="3" width="130" height="18" /> 
		<rect x="90" y="48" rx="3" ry="3" width="180" height="14" /> 
		<rect x="310" y="10" rx="3" ry="3" width="82" height="12" /> 
		<!-- <rect x="339" y="29.66" rx="0" ry="0" width="52.559999999999995" height="12.21" /> -->
	</content-loader>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  components: {
    ContentLoader
  }
}
</script>
