<template>
  <div class="headBar">
    <div class="container">
      <v-toolbar flat color="transparent">
        <v-btn icon :ripple="false" class="btnBack" @click="back">
          <img width="32" height="32" src="~/assets/svg/ic-back-cevron.svg" alt="<" />
        </v-btn>
        <v-toolbar-title class="headTitle font-weight-medium black36--text">{{title}}</v-toolbar-title>
        <div></div>
      </v-toolbar>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: ''
    }
  },
  methods: {
    back() {
      const route = this.$store.$router.app._route
      if (
        typeof route.query.utm_source !== 'undefined' &&
        route.query.utm_source === 'notifications'
      ) {
        const url = route.path.replace(`/${route.params.id}`, '')
        this.$router.replace(url)
      } else {
        this.$router.back()
        if (window.fcWidget !== undefined) {
          window.fcWidget.destroy()
          delete window.fcWidget
        }
      }
    }
  },
  head() {
    const self = this
    if (process.client) {
      this.title = document.title
    }
    return {
      changed({ title }) {
        // console.warn('title:', title)
        const rep = ' | ' + process.env.pocimas_app_title
        self.title = title.replace(rep, '')
      }
    }
  }
}
</script>

<style scoped>
.headBar {
  padding: 0 15px;
  background: #fff;
  z-index: 5;
  box-shadow: 0 -0.1px 6px 0 rgba(0, 0, 0, 0.08);
  clear: both;
  position: fixed;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 480px;
}
.headBar >>> .container {
  padding: 0;
}
.headBar >>> .v-toolbar__content {
  padding: 0;
  justify-content: space-between; /* supaya bisa di set align center utk title */
}

/* penyeragaman margin */
.headBar >>> .v-toolbar__content div {
  margin: 0;
}
.headBar >>> .v-toolbar__content > *:first-child {
  margin: 0;
}
/* supaya align center, tambahkan margin sebesar lebar dari left menu */
.headBar >>> .v-toolbar__content > .v-toolbar__title {
  margin-right: 32px;
}
.headTitle {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
</style>
