<template>
  <div class="headBar">
    <div class="container">
      <v-toolbar flat color="transparent">
        <div></div>
        <v-toolbar-title class="headTitle">{{title}}</v-toolbar-title>
        <div></div>
      </v-toolbar>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: ''
    }
  },
  head() {
    const self = this
    if (process.client) {
      this.title = document.title
    }
    return {
      changed({ title }) {
        // console.warn('title:', title)
        const rep = ' | ' + process.env.pocimas_app_title
        self.title = title.replace(rep, '')
      }
    }
  }
}
</script>

<style scoped>
.headBar {
  padding: 0;
  background: #fff;
  z-index: 1;
  box-shadow: 0 -0.1px 6px 0 rgba(0, 0, 0, 0.08);
  clear: both;
  position: fixed;
  width: 100%;
}
.headBar >>> .container {
  padding: 0;
}
.headBar >>> .v-toolbar__content {
  padding: 0;
  justify-content: space-between; /* supaya bisa di set align center utk title */
}

/* penyeragaman margin */
.headBar >>> .v-toolbar__content div {
  margin: 0;
}
.headBar >>> .v-toolbar__content > *:first-child {
  margin: 0;
}
/* supaya align center, tambahkan margin sebesar lebar dari left menu */
.headBar >>> .v-toolbar__content > .v-toolbar__title {
  margin-right: 32px;
}
.headTitle {
  font-size: 15px;
  font-weight: 500;
}
</style>
