<template>
  <div class="headBar">
    <div class="container">
      <v-toolbar flat color="transparent">
        <v-btn icon :ripple="false" class="btnBack" @click="back">
          <img width="32" height="32" src="~/assets/svg/ic-back-cevron.svg" alt="<" />
        </v-btn>
        <v-spacer v-show="!showme"></v-spacer>
        <v-toolbar-title v-show="!showme" class="headTitle">{{title}}</v-toolbar-title>
        <v-spacer v-show="!showme"></v-spacer>
        <v-toolbar-title>
          <v-text-field
            v-show="showme"
            v-model="searchkey"
            autofocus
            :rules="toggleRules"
            :validate-on-blur="true"
            :loading="isLoading && martLoading"
            :disabled="isLoading && martLoading"
            class="formSearch"
            prepend-inner-icon="search"
            :append-icon="showIcon ? 'clear2' : undefined"
            outline
            @keypress="(
              ($event.keyCode > 47 && $event.keyCode < 58)
              || $event.keyCode === 32
              || ($event.keyCode > 96 && $event.keyCode < 123)
              || ($event.keyCode > 64 && $event.keyCode < 91)
              ) ? true : $event.preventDefault()"
            @keyup.enter="Dosearch"
            @click:append="clickIcon"
          ></v-text-field>
        </v-toolbar-title>
        <v-toolbar-title v-show="!showme" @click="toggleOpen">
          <img width="32" height="32" src="~/assets/svg/search.svg" class="right" alt="<" />
        </v-toolbar-title>
        <v-toolbar-title @click="archivePage">
          <img
            id="archive"
            width="32"
            height="32"
            src="~/assets/svg/ic_archive.svg"
            class="right"
            alt="archive"
          />
        </v-toolbar-title>
      </v-toolbar>
    </div>
  </div>
</template>
<style scoped>
.headBar {
  padding: 0 15px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 -0.1px 6px 0 rgba(0, 0, 0, 0.08);
  clear: both;
  position: fixed;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 480px;
}
.formSearch {
  width: 320px;
  max-width: 95%;
}
.formSearch >>> .v-input__slot {
  min-height: 38px !important;
}
.headBar >>> .container {
  padding: 0;
}
.headBar >>> .v-toolbar__content {
  padding: 0;
  justify-content: space-between; /* supaya bisa di set align center utk title */
}

/* penyeragaman margin */
.headBar >>> .v-toolbar__content div {
  margin: 0;
}
.headBar >>> .v-toolbar__content > *:first-child {
  margin: 0;
}
/* supaya align center, tambahkan margin sebesar lebar dari left menu */
/* .headBar >>> .v-toolbar__content > .v-toolbar__title {
  margin-right: 32px;
} */
.headTitle {
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px !important;
}
.formSearch >>> .v-icon {
  padding-top: 10px;
}
.formSearch >>> .v-icon--link {
  margin-left: 30px;
}
.formSearch >>> .v-text-field__slot {
  margin-top: -20px !important;
}

img#archive {
  margin-left: 8px;
}
</style>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import { _isUndefined, _isEmptyObj } from '~/utils'
export default {
  data() {
    return {
      title: '',
      result: '',
      searchkey: '',
      showme: false,
      toggleRules: [
        v => {
          this.toggleClose()
          return false
        }
      ],
      showIcon: true,
      clear2: 'clear',
      hasSearched: false
    }
  },
  computed: {
    ...mapState({
      listProduct: state => {
        return state.product.list
      },
      martLoading: state => state.mart.isLoading,
      isLoading: state => state.product.isLoading
    })
  },
  methods: {
    toggleOpen() {
      this.showme = true
    },
    toggleClose() {
      // console.warn('mlakku', this.showme)
      if (this.listProduct.length > 0) {
        this.showme = false
      }
      // this.$refs.inputSearch.focus()
    },
    ...mapActions({ searching: 'product/Dosearch' }),
    ...mapMutations({
      setState: 'product/setState',
      setMartState: 'mart/setState'
    }),
    back() {
      this.$router.back()
    },
    async Dosearch() {
      // const keyword = this.searchkey
      this.setState({ isLoading: true })
      this.hasSearched = true
      const parameter = {
        token: this.$store.state.user.accKey,
        keyword: this.searchkey,
        uuid: this.$store.state.mart.default.id
      }
      this.result = this.searchkey
      const resultProduct = await this.searching(parameter).catch(error => {
        // handle error
        if (error.response.status === 401) {
          const alertMsg = {
            msg: 'Sesi telah berakhir, merefresh halaman'
          }
          this.$store.dispatch('ui/showAlert', alertMsg, { root: true })
          this.$store.dispatch('user/refreshAuth', null, { root: true })
          this.searchkey = ''
          const searchMsg = {
            msg: 'Silahkan lakukan pencarian kembali',
            color: 'primary'
          }
          this.clearSearch().finally(
            this.$store
              .dispatch('ui/showAlert', searchMsg, { root: true })
              .finally(this.setState({ isLoading: false }))
          )
        } else {
          const alertMsg = {
            msg: 'Kesalahan tidak diketahui, silahkan hubungi admin'
          }
          this.$store
            .dispatch('ui/showAlert', alertMsg, { root: true })
            .finally(this.setState({ isLoading: false }))
        }
        return false
      })
      // do search with keyword
      // console.warn(a)
      if (
        !_isUndefined(resultProduct) &&
        resultProduct.hasOwnProperty('data') &&
        !_isEmptyObj(resultProduct.data)
      ) {
        await this.$store
          .dispatch(
            'product/setListProduct',
            resultProduct.data.searchAPISearch.documents
          )
          .finally(this.setState({ isLoading: false }))
      } else {
        this.clearSearch()
      }
      this.setState({ isSearch: true })
    },
    async clearSearch() {
      this.setState({ isLoading: true })
      this.hasSearched = false
      const store = this.$store
      const auth = {
        token: store.state.user.accKey,
        usrUUID: store.state.user.uuid
      }
      const mart = _isUndefined(store.cache)
        ? await store.dispatch('mart/getMart', auth)
        : await store.cache.dispatch('mart/getMart', auth)
      // dispatch default mart data
      if (
        !_isUndefined(mart) &&
        mart.hasOwnProperty('data') &&
        !_isEmptyObj(mart.data)
      ) {
        await store.dispatch('mart/setDefaultMart', mart.data)
      }
      this.setMartState({ isLoading: false })
      const authParams = {
        token: store.state.user.accKey,
        usrUUID: store.state.mart.default.id,
        limit: 5,
        isNew: true
      }

      const product = await store.dispatch('product/getProducts', authParams)

      if (
        !_isUndefined(product) &&
        product.hasOwnProperty('data') &&
        !_isEmptyObj(product.data)
      ) {
        if (
          product.data.searchAPISearch.documents.length > 0 &&
          product.data.searchAPISearch.documents[0] !== null
        ) {
          await store.dispatch(
            'product/setListProduct',
            product.data.searchAPISearch.documents
          )
          await store
            .dispatch('user/setHasProduct', { param: true })
            .finally(this.setState({ isLoading: false }))
        } else {
          await store
            .dispatch('user/setHasProduct', { param: false })
            .finally(this.setState({ isLoading: false }))
        }
      }
      this.setState({ isSearch: false })
    },
    clickIcon() {
      this.searchkey = ''
      if (this.hasSearched) {
        this.clearSearch()
      } else {
        this.showme = false
      }
    },
    archivePage() {
      this.$router.push('product/archive')
    }
  },
  head() {
    const self = this
    if (process.client) {
      this.title = document.title
    }
    return {
      changed({ title }) {
        // console.warn('title:', title)
        const rep = ' | ' + process.env.pocimas_app_title
        self.title = title.replace(rep, '')
      }
    }
  }
}
</script>
