<template>
  <v-card flat>
    <v-card-text class="contentContruction text-xs-center">
      <div>
        <img
          src="~/assets/svg/mediaConstruction.svg"
          alt="construction"
          class="mt-4 mb-4"
        >
        <p class="mb-3 txtContruction">Halaman masih dalam tahap 
          <br>konstruksi.
        </p>
      </div>
    </v-card-text>
  </v-card>
</template>
<style scoped>
.contentContruction {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txtContruction {
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  color: #969696;
}
</style>
