<template>
  <div class="listProduct">
    <!-- <ProductListing/> -->
    <div style="height:70px; margin-bottom:30px;"></div>
    <v-toolbar
      v-if="listProduct.length > 0 && !isProductLoading"
      class="toolbar-add"
      style="margin-top:55px"
      color="#fff"
      flat
      fixed
    >
      <!-- checkbox all product -->
      <v-layout row wrap>
        <v-flex xs7 style="background-color:#fff">
          <v-checkbox
            v-if="listProduct.length > 0  && !isProductLoading"
            v-model="checkingCheckState"
            class="chekboxProduk"
            style="padding-top: 10px"
            value="checked"
            :label="checkingCheckState[0] === 'checked' ? `${checkcheck.length.toString()} produk dipilih` : 'Pilih produk'"
            color="primary"
            @change="checkAll"
          />
        </v-flex>
        <v-flex xs-5 class="arsipProduk">
          <v-btn
            v-if="checkcheck.length > 0"
            class="buttonArsip"
            style="margin: 10px 0px"
            :loading="loadingActivate"
            disabled
            color="secondary"
            outline
            small
            :ripple="false"
            @click="dialog = true"
          >Arsipkan</v-btn>
        </v-flex>
      </v-layout>
      <!-- end of checkbox all product -->
    </v-toolbar>

    <!-- modal confirm -->
    <v-dialog v-model="dialog" persistent width="100%" max-width="480px">
      <v-card>
        <v-card-title class="subheading" style="text-align:left">
          <p>
            Apakah Anda yakin Menonaktifkan
            <strong
              style="color:#e62120"
            >{{ checkcheck.length }} Produk</strong>&nbsp;ini dan memindahkannya kedalam arsip produk?
          </p>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="darken-1"
            flat="flat"
            :ripple="false"
            :disabled="loadingActivate"
            @click="dialog = false"
          >
            <strong>Tidak</strong>
          </v-btn>

          <v-btn
            class="text-none"
            color="secondary darken-1"
            flat="flat"
            :disabled="loadingActivate"
            :loading="loadingActivate"
            :ripple="false"
            @click="bulkDeactivate"
          >
            <strong>Yakin</strong>
            <template v-slot:loader>
              <span>
                <v-progress-circular :width="3" color="primary" indeterminate></v-progress-circular>
              </span>
            </template>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- end of modal confirm -->

    <v-container
      v-if="isProductLoading"
      class="productLoader"
      style="margin-top: -50px"
      grid-list-md
      text-xs-center
    >
      <div v-for="(n, index) in 3" :key="index" class="loaderWrapper">
        <ProductListLoader />
      </div>
    </v-container>
    <v-layout v-if="listProduct.length > 0 && !isProductLoading" row wrap style="z-index:1">
      <v-flex v-for="product in listProduct" :key="product._id" class="cont wrapPadding" xs12>
        <v-layout row wrap class style="padding: 0px">
          <v-flex xs1>
            <v-checkbox
              :id="product.uuid"
              v-model="checkcheck"
              class="chekboxProduk"
              :value="product.uuid"
              color="primary"
              style="margin-top:5px;"
              :ripple="false"
              @change="checkOne"
            ></v-checkbox>
          </v-flex>
          <v-flex xs3>
            <img
              :src="product.image"
              class="lighten-2 mt-3"
              style="height:auto; width:64px; margin-left: auto; margin-right: auto; display: block;"
            />
          </v-flex>

          <v-flex xs8 class="detail-product" style="margin-bottom:15px;">
            <!-- <nuxt-link class="link" :to="`/product/edit/${product.uuid}`"> -->
            <div class="product-name" style="margin-top:10px">{{ product.title }}</div>
            <!-- </nuxt-link> -->

            <div class="stock">Stok {{ product.stok }}</div>
            <v-layout class="product-layout mb-3" row wrap>
              <v-flex xs-6>
                <p class="green-text">Harga</p>
              </v-flex>
              <v-flex xs-6>
                <p
                  class="red-text"
                >Rp{{ Math.trunc(product.harga).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }}</p>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <div class="g-divider"></div>
      </v-flex>
    </v-layout>

    <!-- data not found page -->
    <DataNotFound
      v-if="listProduct.length == 0 && !isProductLoading"
      :textnofo="'Oops. Anda belum menambahkan daftar produk'"
      style="margin-top:20px"
    />
    <!-- end of data not found page -->

    <!-- button menu (+) -->
    <v-speed-dial
      v-if="!isProductLoading"
      v-model="fabProduct"
      direction="top"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator :fixed="true">
        <v-btn v-model="fabProduct" class="fabIcon" color="secondary" fixed bottom right fab>
          <v-icon>add</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
      </template>
      <nuxt-link to="/product/propose/list"></nuxt-link>
      <nuxt-link to="/product/archive">
        <v-btn class="button-inside text-none" dark color="secondary">Arsip Produk</v-btn>
      </nuxt-link>
      <nuxt-link to="/share">
        <v-btn class="button-inside text-none" dark color="secondary">Jual Produk</v-btn>
      </nuxt-link>
    </v-speed-dial>
    <!-- end of button menu (+) -->
  </div>
</template>

<style scoped>
.toolbar-add {
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 480px;
}
.g-divider {
  height: 8px;
  background: #0000000d;
  margin: 0px -16px !important;
}
.toolbar-add >>> .v-toolbar__content {
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.08);
  /* padding-top: 16px; */
  height: auto !important;
}
.listProduct >>> .v-list__tile,
.listProduct >>> .container {
  margin-top: 0px;
}
.listProduct >>> .flex:first-child .layout.wrap {
  padding-top: 5px !important;
}
.product-status >>> .material-icons {
  font-size: 18px;
}
.v-toolbar__title {
  font-weight: bold;
}
.btn-rd.v-btn {
  border-radius: 4px;
}
.fabIcon {
  top: 80%;
  width: 64px;
  height: 64px;
  position: fixed;
}
/* start:: readjust style FAB & speed dial */
.fabIcon.v-btn--floating .v-btn__content .v-icon {
  font-size: 32px;
  font-weight: 600;
  display: inline-flex;
}
.fabIcon.v-btn--active {
  border: solid 1px #e3e3e3 !important;
  background-color: #f5f5f5 !important;
  color: #383838 !important;
}
@media only screen and (min-width: 481px) {
  div.v-speed-dial.v-speed-dial--direction-top >>> button {
    left: 50%;
    margin-left: 160px;
  }
  div.v-speed-dial.v-speed-dial--direction-top > div > a > button {
    left: -12% !important;
  }
}
.listProduct >>> .v-speed-dial--direction-top .v-speed-dial__list {
  right: 25px;
  left: auto;
  bottom: 80px;
  position: fixed;
}
.listProduct >>> .v-speed-dial--direction-top .v-speed-dial__list .v-btn {
  border-radius: 4px;
}
.emptyPricelist {
  background-color: rgba(254, 70, 69, 0.1);
  padding: 10px;
  color: #fe4544;
  border-radius: 4px;
}
/* .wrapPadding {
  border: 2px solid #e3e3e3 !important;
  border-radius: 10px;
} */
.chekboxProduk >>> .v-input--selection-controls__input + .v-label {
  font-size: 13px !important;
}
/* end:: readjust style FAB & speed dial */
.button-inside {
  width: 250px;
}
.button-inside.v-btn.theme--dark.secondary {
  margin-right: 20px;
}
.cont {
  margin-bottom: 8px;
  margin-top: 8px;
}
.product-name {
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.produkList {
  border: 2px solid #e3e3e3 !important;
  border-radius: 10px;
}
.product-layout {
  text-align: left;
  overflow: hidden;
}
.v-datatable.v-table.theme--light {
  background-color: transparent;
}
p {
  padding: 0px;
  margin: 0px !important;
}
.v-input.v-input--selection-controls.v-input--checkbox {
  margin: 0;
  padding: 0;
}
.product-status {
  text-align: right;
}
.topDivider {
  border-width: 2px 0 0 0;
  border-color: #0000000d !important;
  /* border-color: black !important; */
  margin: 15px 1px;
  max-width: none !important;
}
.divider {
  border-width: 8px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05) !important;
  margin-left: -50px;
  margin-right: -50px;
  max-width: none !important;
}
.red-text {
  color: #fe4544;
  font-weight: bold;
}
.green-text {
  color: #00bcb8;
}
.stock {
  text-align: left;
  color: #fe4544;
  font-weight: bold;
  /* margin-bottom: 10px; */
}
img {
  max-height: 120px;
  max-width: 120px;
  height: auto;
  width: auto;
}
.listProduct >>> .container.productLoader {
  margin-top: -10px;
  margin-left: -10px;
}
.selectContainer {
  margin-top: 20%;
}
.customSelect >>> .v-select__slot .v-select__selections {
  margin-top: 0px !important;
  height: 48px;
  max-height: 48px;
  font-size: 16px;
  padding: 0 5px !important;
}
.arsipProduk {
  text-align: right !important;
  padding: 0px 3px;
}
.buttonArsip {
  height: 30px !important;
}
.customSelect >>> .v-select__slot >>> .v-select__selections {
  padding-top: 0px !important;
}

/* supaya default label placeholder di tengah */
.customSelect >>> .v-select__slot .v-label {
  top: 0;
  padding: 0 5px;
  height: 48px;
  line-height: 48px;
}
/* supaya label placeholder swap ke posisi atas border */
.customSelect >>> .v-select__slot .v-label--active {
  -webkit-transform: translateY(-27px) scale(0.75);
  transform: translateY(-27px) scale(0.75);
  background: #fff;
  top: 18px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}
.no-more {
  margin-left: 22%;
}
</style>

<script>
import { mapState, mapMutations } from 'vuex'
import { _isUndefined, _isEmptyObj } from '~/utils'
import DataNotFound from '~/components/ProductNotFound.vue'
import ProductListLoader from '~/components/ProductListLoader.vue'
export default {
  components: {
    DataNotFound,
    ProductListLoader
  },
  middleware: 'authenticated',
  layout: 'bottom_top_nav_w_search',
  head() {
    return {
      title: 'Daftar Produk',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'product_seller_description',
          name: 'description',
          content: 'product Seller Pocimas'
        },
        {
          hid: 'product_seller_keywords',
          name: 'keywords',
          content: 'product, seller, Pocimas'
        }
      ]
    }
  },
  data: () => ({
    fabProduct: false,
    checkcheck: [],
    loadingActivate: false,
    dialog: false,
    styleList: 'margin-top:10px;z-index:1'
  }),
  computed: {
    ...mapState({
      // listProduct: state => state.product.list,
      listProduct: state => state.product.list2,
      isProductLoading: state => state.product.isLoading,
      checkingAll: state => state.product.checkingAll,
      isSearch: state => state.product.isSearch,
      hideMoreBtn: state => state.product.hideMoreBtn
    }),
    checkingCheckState: {
      get() {
        return this.checkingAll
      },
      set(ch) {
        this.setProductState({ checkingAll: ch })
      }
    }
  },
  mounted: async function(store = this.$store) {
    const product2 = await store.dispatch('product/getProductList')
    console.warn('pppp', product2)
    await store.dispatch('product/setListProduct2', product2.payload)
    console.warn('product2', this.listProduct)
    this.$store.commit('product/setState', {
      isLoading: false
    })
  },
  methods: {
    ...mapMutations({
      setMartState: 'mart/setState',
      setProductState: 'product/setState'
    }),
    selectAddress(ch) {
      this.setProductState({ selectedIndexAddress: ch })
    },
    checkAll(val) {
      if (
        typeof val !== 'undefined' &&
        val !== null &&
        val.indexOf('checked') !== -1
      ) {
        // checked
        this.styleList = 'margin-top:80px; z-index:1'
        this.checkcheck = []
        for (const i in this.listProduct) {
          this.checkcheck.push(this.listProduct[i].uuid)
        }
      } else {
        // unchecked
        this.styleList = 'margin-top:10px; z-index:1'
        this.checkcheck = []
      }
    },
    checkOne() {
      if (this.checkcheck.length !== this.listProduct.length) {
        this.styleList = 'margin-top:10px; z-index:1'
        this.setProductState({ checkingAll: [] })
      } else {
        this.styleList = 'margin-top:100px; z-index:1'
        this.setProductState({ checkingAll: ['checked'] })
      }
    },
    async bulkDeactivate() {
      this.loadingActivate = true
      this.setProductState({ hideMoreBtn: false })
      this.setProductState({ hideArchiveMoreBtn: false })
      const store = this.$store
      const token = store.state.user.accKey
      // all we need to patch status / publish and unpublish product
      for (const i in this.checkcheck) {
        const id = this.checkcheck[i]
        const authPatch = {
          token,
          prodID: id
        }
        await store.dispatch('product/nonActivateProduct', authPatch)
      }
      // refetch data
      setTimeout(() => {
        this.getActiveData(store)
      }, 800)
    },
    async getActiveData(store) {
      this.loadingActivate = false
      this.setProductState({ isSearch: false })
      this.checkcheck = []
      // this.setProductState({ checkingAll: [] })
      this.dialog = false
      this.loadingActivate = false
      this.setProductState({ checkingAll: [] })
      const auth = {
        token: store.state.user.accKey,
        usrUUID: store.state.user.uuid
      }
      const mart = _isUndefined(store.cache)
        ? await store.dispatch('mart/getMart', auth)
        : await store.cache.dispatch('mart/getMart', auth)
      // dispatch default mart data
      if (
        !_isUndefined(mart) &&
        mart.hasOwnProperty('data') &&
        !_isEmptyObj(mart.data)
      ) {
        await store.dispatch('mart/setDefaultMart', mart.data)
      }
      this.setMartState({ isLoading: false })
      const authParams = {
        token: store.state.user.accKey,
        usrUUID: store.state.mart.default.id,
        limit: 5,
        isNew: true
      }

      const product = await store.dispatch('product/getProducts', authParams)

      if (
        !_isUndefined(product) &&
        product.hasOwnProperty('data') &&
        !_isEmptyObj(product.data)
      ) {
        if (
          product.data.searchAPISearch.documents.length > 0 &&
          product.data.searchAPISearch.documents[0] !== null
        ) {
          await store.dispatch(
            'product/setListProduct',
            product.data.searchAPISearch.documents
          )
          await store
            .dispatch('user/setHasProduct', { param: true })
            .finally(this.setProductState({ isLoading: false }))
        } else {
          await store.dispatch(
            'product/setListProduct',
            product.data.searchAPISearch.documents
          )
          await store
            .dispatch('user/setHasProduct', { param: false })
            .finally(this.setProductState({ isLoading: false }))
        }
      }
    }
  }
}
</script>
