<template>
  <content-loader
    :height="200"
    :width="200"
    :speed="2"
    primary-color="#f3f3f3"
    secondary-color="#ecebeb"
  >
    <circle cx="98.7" cy="98.7" r="59.7"/>
  </content-loader>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'
export default {
  components: {
    ContentLoader
  }
}
</script>
