<template>
  <content-loader
    :height="600"
    :width="400"
    :speed="2"
    primary-color="#f3f3f3"
    secondary-color="#ecebeb"
  >
    <rect x="135" y="83" rx="4" ry="4" width="129.75" height="157.6"/>
    <rect x="119" y="270" rx="4" ry="4" width="161" height="11.66"/>
    <rect x="10" y="372.2" rx="0" ry="0" width="374.4235" height="40.830999999999996"/>
    <rect x="116" y="1" rx="4" ry="4" width="166.1" height="17.1"/>
    <rect x="91" y="26" rx="4" ry="4" width="218.9" height="17.1"/>
    <rect x="100" y="307" rx="4" ry="4" width="200" height="11.66"/>
    <rect x="119" y="326" rx="4" ry="4" width="160" height="11.66"/>
  </content-loader>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'
export default {
  components: {
    ContentLoader
  }
}
</script>
