<template>
  <content-loader
    :height="120"
    :width="400"
    primary-color="#f3f3f3"
    secondary-color="#ecebeb"
  >
    <rect x="129" y="15" rx="4" ry="4" width="260" height="8"/>
    <rect x="0" y="10" rx="5" ry="5" width="100" height="100"/>
    <rect x="129" y="35" rx="4" ry="4" width="150" height="8"/>
    <rect x="129" y="55" rx="4" ry="4" width="90" height="8"/>
    <rect x="240" y="55" rx="4" ry="4" width="90" height="8"/>
    <rect x="129" y="76" rx="4" ry="4" width="90" height="25"/>
  </content-loader>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'
export default {
  components: {
    ContentLoader
  }
}
</script>
