<template>
  <content-loader
    :height="50"
    :width="400"
    primary-color="#f3f3f3"
    secondary-color="#ecebeb"
  >
    <rect x="0" y="0" rx="4" ry="4" width="42.8" height="42.8"/>
    <rect x="69" y="16" rx="4" ry="4" width="120" height="10.66"/>
    <circle cx="380.4043260233424" cy="16" r="10.404326023342406"/>
  </content-loader>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'
export default {
  components: {
    ContentLoader
  }
}
</script>
