<template>
  <content-loader :height="160" :width="400" primary-color="#f3f3f3" secondary-color="#ecebeb">
    <rect x="70" y="15" rx="4" ry="4" width="117" height="6.4"/>
    <rect x="70" y="35" rx="3" ry="3" width="85" height="6.4"/>
    <circle cx="30" cy="30" r="30"/>
  </content-loader>
</template>
<script>
import { ContentLoader } from 'vue-content-loader'
export default {
  components: {
    ContentLoader
  }
}
</script>
