<template>
  <div id="pageHome" class="g-page g-transition">
    <LoginForm />
    <FooterTerms />
  </div>
</template>

<style scoped>
.g-page {
  margin-top: 210px;
}
@media screen and (min-width: 600px) {
  .g-page {
    max-width: 480px;
    margin: 0 auto;
  }
}
</style>


<script>
const components = {
  FooterTerms: () =>
    import('~/components/FooterOnboard.vue' /* webpackChunkName: "FooterTerms" */)
}

// import LoginForm from '~/components/LoginForm.vue'
// import FooterTerms from '~/components/FooterTerms.vue'

export default {
  layout: 'head_onboard',
  middleware: 'redirected',
  // transition(to, from) {
  //   console.log('to:', to)
  //   console.log('from:', from)
  //   if (!from) return 'slide-left'
  //   return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  // },
  components,
  data() {
    return {
      pocimas_client_id: process.env.pocimas_client_id,
      node_env: process.env.NODE_ENV
    }
  },
  head() {
    return {
      title: 'Login Seller | Pocimas',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'login_seller',
          name: 'author',
          content: 'Pocimas Tech'
        },
        {
          hid: 'login_seller_description',
          name: 'description',
          content: 'Login Seller Pocimas'
        },
        {
          hid: 'login_seller_keywords',
          name: 'keywords',
          content: 'login, seller, Pocimas'
        }
      ]
    }
  },
  mounted: function() {
    console.log('node_env', this.node_env)
    console.log('OneSignal / ')
    this.$OneSignal.push(() => {
      this.$OneSignal.push([
        'getNotificationPermission',
        permission => {
          console.log('Site Notification Permission:', permission)
          // (Output) Site Notification Permission: default
        }
      ])

      this.$OneSignal.on('subscriptionChange', isSubscribed => {
        console.log(
          "Landing page The user's subscription state is now:",
          isSubscribed
        )
      })
    })
  }
}
</script>
