<template>
  <div class="shareLayout">
    <img
      src="~/assets/img/indomie@2x.png"
      height="243"
      style="position: relative; left: 0; right: 0; margin: auto; display:block;"
    />
    <v-divider class="divider"></v-divider>
    <p class="titleProduct">Indomie Goreng 85gr 1 Dus (40pcs)</p>
    <p class="amount">Rp84.000</p>
    <p class="stok">Terjual 500 kali</p>
    <BuyProduct />
  </div>
</template>

<style lang="stylus" scoped>
p {
  margin: 0;

  &.titleProduct {
    font-weight: 500;
    font-size: 20px;
    color: #383838;
  }

  &.amount {
    font-weight: 500;
    font-size: 16px;
    color: #FFAF20;
  }

  &.stok {
    font-weight: 400;
    font-size: 11px;
    color: #969696;
    padding-top: 10px;
  }
}

.shareLayout {
  margin: 20% 15px 10px 15px;
}

.v-divider {
  border-bottom-width: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider {
  border-width: 8px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05) !important;
  margin-left: -30px;
  margin-right: -30px;
  max-width: none !important;
}
</style>

<script>
import BuyProduct from '~/components/BuyProduct.vue'
export default {
  components: {
    BuyProduct
  },
  layout: 'top_nav',
  head() {
    return {
      title: 'Beli Product'
    }
  }
}
</script>
