// sample override using SASS
.container {
  padding: 15px;
}
.g-page {
  margin-top: 15px;
  padding-top: 15px;
}
.g-page-title {
  font-size: 20px;
  font-weight: 700;
  color: #00bcb8;
}
a.footerText {
  color: #fe4544;
}
.rProgress {
  float: right;
}
