/* must applied to root element of page */
.g-transition {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* .page-enter-active,
.page-leave-active {
  transition: 0.25s;
  opacity: 0;
  transform: translate(30px, 0);
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate(-30px, 0);
} */

/* .layout-enter-active,
.layout-leave-active {
  transition: 0.25s;
  opacity: 0;
  transform: translate(30px, 0);
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
  transform: translate(-30px, 0);
} */

.slide-left-enter,
.slide-right-leave-active {
  /* opacity: 0;
  transform: translate(30px, 0); */
  animation-name: slideInLeft
}
.slide-left-leave-active,
.slide-right-enter {
  /* opacity: 0;
  transform: translate(-30px, 0); */
  animation-name: slideInRight
}


@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}