<template>
  <div class="load">
    <v-container fill-height text-xs-center>
      <v-flex class="progress">
        <DetailLoader />
      </v-flex>
    </v-container>
  </div>
</template>

<style scoped>
.center-load {
  margin-top: 25px !important;
  text-align: center !important;
}
</style>

<script>
const components = {
  // import detail loader from custom DetailOrderLoader.vue
  DetailLoader: () =>
    import('~/components/DetailOrderLoader.vue' /* webpackChunkName: "DetailLoader" */)
}
export default {
  components,
  head() {
    return {
      title: 'Pesanan'
    }
  },
  fetch({ params, redirect }) {
    if (typeof params.id === 'undefined') {
      redirect('/home')
    }
  },
  mounted: async function(
    store = this.$store,
    params = window.$nuxt._route.params
  ) {
    if (store.state.user.isLogin === false) {
      const alertMsg = {
        msg: 'Sesi anda habis, login ulang untuk mengakses rincian pesanan'
      }
      this.$store.dispatch('ui/showAlert', alertMsg, { root: true })
      this.$router.push(`/login?prev=/order/${params.id}`)
    } else {
      await store.dispatch('user/refreshAuth')
      const authParams = {
        token: store.state.user.accKey,
        orderUUID: params.id
      }
      // We need to get order details to know where we need to redirect those orders
      const getDetail = await store.dispatch('order/getOrderDetail', authParams)

      // check shipment status
      if (
        // check if detail data is presented and is an array
        typeof getDetail === 'object' &&
        getDetail.hasOwnProperty('data') &&
        Array.isArray(getDetail.data) &&
        getDetail.data.length > 0 &&
        getDetail.hasOwnProperty('included')
      ) {
        const shipmentData = getDetail.included.filter(
          item => item.type === 'commerce_shipment--default'
        )
        // some data with status ready is sometimes not included on data result
        // so we need to set manually their shipment status
        const shipmentStatus =
          shipmentData.length > 0 ? shipmentData[0].attributes.state : 'ready'
        const orderStatus = getDetail.data[0].attributes.state
        const url = this.defineRoute(orderStatus, shipmentStatus, params.id)
        console.log(getDetail)
        this.$router.replace(url)
      } else {
        const alertMsg = {
          msg: 'Anda tidak dapat mengakses rincian pesanan',
          color: 'secondary'
        }
        this.$store.dispatch('ui/showAlert', alertMsg, { root: true })
        this.$router.replace('/home')
      }
    }
  },
  methods: {
    /**
     * Function to define route to set where the redirections are aimed to
     *
     * @param {*} { orderStatus,
     * ShipmentStatus,
     * id }
     * @returns
     */
    defineRoute(orderStatus, shipmentStatus, id) {
      let url = ''
      switch (true) {
        case orderStatus === 'fulfillment' && shipmentStatus === 'ready':
          url = `/order/new/${id}`
          break
        case orderStatus === 'completed' && shipmentStatus === 'shipped':
          url = `/order/sent/${id}`
          break
        default:
          url = `/order/history/${id}`
          break
      }
      return url + '?utm_source=notifications'
    }
  }
}
</script>

<style scoped>
.load {
  margin-top: 1%;
}
</style>
