<template>
  <v-app>
    <SnackBarMessage />
    <TopBar />
    <v-content class="main-container">
      <v-container>
        <OfflineAlert />
        <nuxt />
      </v-container>
    </v-content>
    <BottomNavigation />
  </v-app>
</template>

<style scoped>
.main-container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
</style>


<script>
import { mapActions, mapState } from 'vuex'

const components = {
  SnackBarMessage: () =>
    import('~/components/SnackBarMessage.vue' /* webpackChunkName: "SnackBarMessage" */),
  BottomNavigation: () =>
    import('~/components/BottomNavigation.vue' /* webpackChunkName: "BottomNavigation" */),
  TopBar: () =>
    import('~/components/TopBar_w_icon.vue' /* webpackChunkName: "TopBar" */),
  OfflineAlert: () =>
    import('~/components/OfflineAlert.vue' /* webpackChunkName: "OfflineAlert" */)
}

export default {
  components,
  data() {
    return {
      activeBtn: '/home'
    }
  },
  computed: {
    ...mapState({
      snackbar: state => state.snackbar,
      snackbar_text: state => state.snackbar_text
    })
  },
  methods: {
    ...mapActions({ doLogout: 'user/doLogout' }),
    logout() {
      this.doLogout().then(() => {
        console.warn('warn logout')
        this.$router.replace('/')
        console.warn('warn logout done')
      })
    },
    goTo(path) {
      this.$router.push(path)
    }
  }
}
</script>
