<template>
  <v-app>
    <SnackBarMessage />
    <v-content>
      <v-container class="main-container">
        <OfflineAlert />
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<style scoped>
.main-container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
</style>

<script>
const components = {
  SnackBarMessage: () =>
    import('~/components/SnackBarMessage.vue' /* webpackChunkName: "SnackBarMessage" */),
  OfflineAlert: () =>
    import('~/components/OfflineAlert.vue' /* webpackChunkName: "OfflineAlert" */)
}
export default {
  components
}
</script>
