<template>
  <div class="container">
    <nuxt-link to="/home">Kembali ke Home</nuxt-link>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  props: {
    error: Object,
    default: null
  },
  layout: 'top_nav', // you can set a custom layout for the error page
  head() {
    return {
      title: this.error.statusCode === 404 ? 'Tidak Ditemukan' : 'Error'
    }
  }
}
</script>
