<template>
  <v-app>
    <SnackBarMessage />
    <TopBar />
    <v-content class="main-container">
      <v-container>
        <OfflineAlert />
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<style scoped>
.main-container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
</style>


<script>
const components = {
  SnackBarMessage: () =>
    import('~/components/SnackBarMessage.vue' /* webpackChunkName: "SnackBarMessage" */),
  TopBar: () =>
    import('~/components/TopBar.vue' /* webpackChunkName: "TopBar" */),
  OfflineAlert: () =>
    import('~/components/OfflineAlert.vue' /* webpackChunkName: "OfflineAlert" */)
}

export default {
  components
}
</script>
