<template>
  <v-app>
    <SnackBarMessage/>
    <TopBar/>
    <v-content>
      <v-container>
        <v-alert
          v-if="$nuxt.isOffline"
          :value="true"
          color="warning"
          icon="priority_high"
          outline
        >Koneksi ke internet terputus.</v-alert>
        <nuxt/>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import TopBar from '~/components/TopBar_w_no_Back.vue'
import SnackBarMessage from '~/components/SnackBarMessage'
export default {
  components: {
    SnackBarMessage,
    TopBar
  }
}
</script>
