
<template>
  <div class="compWrapper">
    <UnderConstruction/>
  </div>
</template>


<script>
const components = {
  UnderConstruction: () =>
    import('~/components/UnderConstruction.vue' /* webpackChunkName: "UnderConstruction" */)
}

export default {
  layout: 'bottom_top_nav',
  components,
  head() {
    return {
      title: 'Tahap Konstruksi',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'underconstruction',
          name: 'description',
          content: 'Home Seller Pocimas'
        },
        {
          hid: 'underconstruction_seller_keywords',
          name: 'keywords',
          content: 'underconstruction, seller, Pocimas'
        }
      ]
    }
  }
}
</script>
