<template>
  <div class="maintenanceMode">
    <center>
      <img src="~/assets/img/img-maintenance@2x.png" alt="empty_box" width="180px">
      <p class="textNotFound">
        <b>Maaf..</b><br />
        Saat ini kami sedang ada perbaikan sistem. <br />
        Silakan coba beberapa saat lagi.
      </p>
    </center>
  </div>
</template>

<style lang="stylus" scoped>
  .maintenanceMode {
    margin-top: 100px;
  }
  .textNotFound {
    margin-top: 20px;
    color: gray;
  }
</style>
<script>
export default {
  layout: 'top_nav_w_no_back',
  head() {
    return {
      title: 'Maintenance',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'maintenance_seller_description',
          name: 'description',
          content: 'Seller Pocimas'
        },
        {
          hid: 'maintenance_seller_keywords',
          name: 'keywords',
          content: 'seller, maintenance, Pocimas'
        }
      ]
    }
  },
  mounted() {
    // Check status again
    const check = setInterval(() => {
      const redirUrl =
        typeof this.$store.app.context.route.query.prev !== 'undefined'
          ? this.$store.app.context.route.query.prev
          : '/home'
      this.$axios
        .head('/jsonapi', {
          validateStatus: status => {
            const result = status >= 200 && status <= 505
            return result
          }
        })
        .then(response => {
          // If No Maintenance Status Anymore - redir to home back
          // console.warn(response.status)
          if (response.status === 200) {
            // Redir to Prev URL
            this.$router.replace(redirUrl)
            clearInterval(check)
          }
        })
        .catch(error => {
          console.log(error)
        })
    }, 5000) // Check it every 5 sec
  }
}
</script>
