<template>
  <br>
</template>

<script>
import { _isUndefined } from '~/utils'
export default {
  async fetch({ store, redirect }) {
    if (!_isUndefined(store.cache)) await store.cache.clear()
    await store.dispatch('user/doLogout')
    redirect('/')
  }
}
</script>
