<template>
  <!-- <div id="pageHome" class="compWrapper g-transition"> -->
    <!-- <HomeSellerInfo />
    <HomeOrderCount
      :home-loading="homeLoading"
      :has-product="hasProduct"
      :order-new-loading="orderNewHomeLoading"
      :order-sent-loading="orderSentHomeLoading"
      :order-sending-loading="orderSendingHomeLoading"
      :list-order-new="listOrderNew"
      :list-order-sent="listOrderSent"
      :list-order-sending="listOrderSending"
    />
    <HomeProduct :home-loading="homeLoading" :has-product="hasProduct" :result="listProduct" />
    <HomeEmptyProduct v-if="!homeLoading && !hasProduct" /> -->
  <!-- </div> -->
  <div id="pageHome">
    <v-layout id="headWrapper" row wrap>
      <v-flex id="welcome" xs9 class="white--text">
        <img width="100" height="23.98" src="~/assets/svg/logo-white-landscape-01.svg" class="headLogo" alt="<"/>
      </v-flex>
      <v-flex xs3 class="text-xs-right">
        <img width="100" height="23.98" src="~/assets/svg/turn-notifications-on-button.svg" class="left" alt="<"/>
      </v-flex>
    </v-layout>
    <!-- <div id="headWrapperBG"></div> -->
    <v-layout id="totalRekrut" class="totalRekrut" row wrap>
      <v-flex xs6>
        <p id="totalTxt">Saldo</p>
      </v-flex>
      <v-flex xs6>
        <p id="totalTxt">Rp {{getSaldo}}</p>
      </v-flex>
    </v-layout>
    <h3 class="titleCard">Transaksi Jual Beli</h3>
    <v-layout id="rekrutanHariIni">
      <v-flex xs6>
        <v-card id="wrapCountBuyer" class="boxRoundShadow">
          <v-card-text class="text-xs-center">
            <span class="steelblue--text">Jual</span>
            <div id="rekrutanBuyer" class="countText">2</div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs6>
        <v-card id="wrapCountSeller" class="boxRoundShadow">
          <v-card-text class="text-xs-center">
            <span class="steelblue--text">Beli</span>
            <div id="rekrutanSeller" class="countText">50</div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <h3 class="titleCard">Pemberitahuan</h3>
    <div>
      <img width="134.68" height="143.57" src="~/assets/svg/empty-under-contraction.svg" alt="<" style="display: block; margin: 25px auto;"/>
      <h3 class=" text-xs-center textColorPrimary ">PROSES PERBAIKAN</h3>
      <p class=" text-xs-center textColorPrimary">Halaman dalam proses perbaikan</p>
    </div>
  </div>
</template>
<style>
.loaderHome {
  margin-top: 55%;
}
.textColorPrimary {
  color: #1f768a;
}

#pageHome {
  min-height: 95vh;
}
#headWrapper {
  padding: 15px 15px 50px 15px;
  background-color: #ffaf20;
  border: none;
  border-bottom-right-radius: 70% 45%;
  border-bottom-left-radius: 70% 45%;
}
#rekrutRight {
  background-size: auto;
  background-position: right center;
}
.totalRekrut {
  /* height: 40px; */
  margin: -33px 10px 15px 10px;
  padding: 10px;
  box-shadow: 0 0 12px 0 rgba(16, 69, 91, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}
#totalTxt {
  font-size: 14px;
  color: #1f768a;
  margin: 5px;
}
#rekrutanHariIni {
  margin: 10px;
}
.countText {
  font-family: Roboto;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: 1.25px;
  text-align: center;
}
.countText span {
  font-size: 12px;
  font-weight: normal;
  color: rgba(16, 69, 91, 0.6);
}
#wrapCount {
  margin: 19px 24px 0 50px;
}
#wrapCount span {
  font-size: 12px;
}
.boxRoundShadow {
  box-shadow: 0 0 12px 0 rgba(16, 69, 91, 0.1) !important;
  background-color: #ffffff !important;
  border-radius: 12px !important;
  width: 90%;
  margin-left: 5px;
  color: #1f768a;
}
.margin20 {
  margin: 20px;
}
.mr24 {
  margin-right: 24px;
  margin-left: 12px;
}
.ml24 {
  margin-left: 24px;
  margin-right: 12px;
}
#btnRekrutToko {
  margin: 0;
}
#congrateText {
  font-size: 12px;
}
.titleCard {
  margin: 10px;
  font-size: 13px;
  color: #1f768a;
}
</style>
<script>
import { mapState } from 'vuex'
import { _isUndefined, _isEmptyObj } from '~/utils'
export default {
  layout: 'bottom_nav',
  middleware: 'authenticated',
  head() {
    return {
      title: 'Home POCIMAS',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'home_seller_description',
          name: 'description',
          content: 'Home Seller Pocimas'
        },
        {
          hid: 'home_seller_keywords',
          name: 'keywords',
          content: 'home, seller, Pocimas'
        }
      ]
    }
  },
  // transition(to, from) {
  //   console.log('to:', to)
  //   console.log('from:', from)
  //   if (!from) return 'slide-left'
  //   return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  // },
  data() {
    return {
      envProd: process.env.NODE_ENV === 'production',
      exCache: 3 * 60 * 1000,
      exCacheOrder: 1 * 10 * 1000,
      exCacheProduct: 1 * 10 * 1000
    }
  },
  computed: {
    ...mapState({
      getSaldo: state => state.user.saldo,
      isLoadingProduct: state => state.user.isLoadingProduct,
      hasProduct: state => state.user.hasProduct,
      hasOrder: state => state.user.hasOrder,
      listProduct: state => state.product.listHomeProduct,
      listOrderNew: state => state.order.listOrderNewHome,
      listOrderSent: state => state.order.listOrderSentHome,
      listOrderSending: state => state.order.listOrderSendingHome,
      orderNewHomeLoading: state => state.order.orderNewHomeLoading,
      orderSentHomeLoading: state => state.order.orderSentHomeLoading,
      orderSendingHomeLoading: state => state.order.orderSendingHomeLoading,
      homeLoading: state => state.ui.homeLoading,
      dateCreated: state => state.user.dateCreated,
      dateChanged: state => state.user.dateChanged
    })
  },
  async fetch({ store, redirect, app }) {
    const envProd = process.env.NODE_ENV === 'production'
    console.log('envProd:', envProd)
    // stop loginLoading
    if (store.state.user.accKey !== '') {
      // this.getStoreInfo(store, authParams, cacheTimeout)
      await store.commit('user/setState', { loginLoading: false })
      await store.commit('ui/setState', { homeLoading: true })
    }
  },
  mounted: async function(store = this.$store) {
    // await this.$store.commit('user/setStatusProfileUser', false)
    // await this.$store.dispatch('user/addToCookie', {
    //   name: 'g_userChangedProfile',
    //   value: false
    // })
    // const authParams = {
    //   token: store.state.user.accKey,
    //   usrUUID: store.state.user.uuid,
    //   storeUUID: store.state.mart.default.id
    // }
    // // get user info store/mart
    // this.getUserProfile(store, authParams, this.exCache)
    // this.getStoreInfo(store, authParams, this.exCache).then(() => {
    //   // console.log('storeUUID', store.state.mart.default.id)
    //   const autMart = {
    //     token: store.state.user.accKey,
    //     // token: store.$cookies.get('g_accKey'),
    //     storeUUID: store.state.mart.default.id
    //   }
    //   this.getProducts(store, autMart, this.exCacheProduct).then(() => {
    //     console.log('call getProducts:')
    //     const authCount = {
    //       token: store.state.user.accKey,
    //       storeUUID: store.state.mart.default.id
    //     }
    //     if (store.state.user.hasProduct) {
    //       this.countOrder(store, authCount, this.exCacheOrder)
    //     }
    //   })
    // })
    // OneSignal
    const curUID = store.state.user.uid
    // console.log('curUID', curUID)
    if (curUID !== '') {
      // console.log('has OneSignal, UID: ', curUID)
      this.$OneSignal.push(() => {
        // console.log('UID: ', curUID)
        this.$OneSignal.setExternalUserId(curUID)
        this.$OneSignal.isPushNotificationsEnabled(isEnabled => {
          if (isEnabled) {
            console.log('Push notifications are enabled!, UID:', curUID)
          } else {
            console.log('Push notifications are not enabled yet.')
          }
        })
        // Start -> Debugging code
        if (process.env.NODE_ENV === 'development') {
          this.$OneSignal.getExternalUserId(params => {
            console.log('getExternalUserId: ', params)
          })
          const date = new Date()
          const formattedDate = date.toISOString()
          this.$OneSignal
            .sendTags({
              owner: store.state.user.email,
              last_modified: formattedDate
            })
            .then(function(tagsSent) {
              console.log('tag sent', tagsSent)
            })
          // End -> Debugging code
        }
      })
    } else {
      await console.log('No OneSignal, UID: ', curUID)
    }
  },
  methods: {
    showChangePassSnackbar() {
      if (
        this.dateCreated &&
        this.dateChanged &&
        this.dateCreated === this.dateChanged
      ) {
        setTimeout(async () => {
          const alertOpt = {
            msg:
              'Anda belum mengubah kata sandi, untuk mengubah kata sandi silahkan ',
            needAction: true,
            actionText: 'klik di sini.',
            color: 'primary',
            redirectTo: '/account/change-password',
            timeout: 0
          }
          await this.$store.commit('user/setDateCreated', null)
          await this.$store.commit('user/setDateChanged', null)
          this.$store.dispatch('ui/showAlert', alertOpt, { root: true })
        }, 1000)
      }
    },
    async getStoreInfo(store, authParams, cacheTimeout) {
      // request user Mart / Store
      const mart = _isUndefined(store.cache)
        ? await store.dispatch('mart/getMart', authParams)
        : await store.cache.dispatch('mart/getMart', authParams, cacheTimeout)
      // dispatch default mart data
      if (
        !_isUndefined(mart) &&
        mart.hasOwnProperty('data') &&
        !_isEmptyObj(mart.data) &&
        mart.data.length > 0
      ) {
        await store.dispatch('mart/setDefaultMart', mart.data)
      } else {
        // please notify that user has no store yet
      }
      store.commit('mart/setState', { isLoadingMart: false })
    },
    async getUserProfile(store, authParams, cacheTimeout) {
      // request user Profile
      const profile = _isUndefined(store.cache)
        ? await store.dispatch('profile/getProfile', authParams)
        : await store.cache.dispatch(
            'profile/getProfile',
            authParams,
            cacheTimeout
          )
      if (
        !_isUndefined(profile) &&
        profile.hasOwnProperty('data') &&
        !_isEmptyObj(profile.data)
      ) {
        await store.dispatch('profile/setDefaultProfile', profile)
      }
    },
    async countOrder(store, authParams, cacheTimeout) {
      // call getOrderListNewHome to show count of 'Pesanan Baru'
      const orderNew = _isUndefined(store.cache)
        ? await store.dispatch('order/getOrderListNewHome', authParams)
        : await store.cache.dispatch('order/getOrderListNewHome', authParams)
      // console.warn('new', orderNew)
      // console.warn('new', orderNew.data.length)
      if (
        !_isUndefined(orderNew) &&
        orderNew.hasOwnProperty('data') &&
        !_isEmptyObj(orderNew.data)
      ) {
        store.dispatch('order/setDefaultOrderNewHome', orderNew.data)
      }
      // call getOrderListSentHome to show count of 'Pesanan Terkirim'
      const orderSent = _isUndefined(store.cache)
        ? await store.dispatch('order/getOrderListSentHome', authParams)
        : await store.cache.dispatch(
            'order/getOrderListSentHome',
            authParams,
            cacheTimeout
          )
      // console.warn('new', orderSent.data.length)
      if (
        !_isUndefined(orderSent) &&
        orderSent.hasOwnProperty('data') &&
        !_isEmptyObj(orderSent.data)
      ) {
        store.dispatch('order/setDefaultOrderSentHome', orderSent.data)
      }
      // call getOrderListSentHome to show count of 'Siap Dikirim'
      const orderSending = _isUndefined(store.cache)
        ? await store.dispatch('order/getOrderListSendingHome', authParams)
        : await store.cache.dispatch(
            'order/getOrderListSendingHome',
            authParams,
            cacheTimeout
          )
      // console.warn('sending', orderSending)
      // console.warn('sending', orderSending.data.length)
      if (
        !_isUndefined(orderSending) &&
        orderSending.hasOwnProperty('data') &&
        !_isEmptyObj(orderSending.data)
      ) {
        // console.warn('sendinggg', order)
        store.dispatch('order/setDefaultOrderSendingHome', orderSending.data)
      }
      // set the user has orders
      if (
        orderNew.data.length > 0 ||
        orderSending.data.length > 0 ||
        orderSent.data.length > 0
      ) {
        console.log('setHasOrder')
        await store.dispatch('user/setHasOrder', { param: true })
      }
    },
    async getProducts(store, authParams, cacheTimeout) {
      // get product
      const product = _isUndefined(store.cache)
        ? await store.dispatch('product/getProductsLimit', authParams)
        : await store.cache.dispatch(
            'product/getProductsLimit',
            authParams,
            cacheTimeout
          )
      if (
        !_isUndefined(product) &&
        product.hasOwnProperty('data') &&
        !_isEmptyObj(product.data)
      ) {
        if (
          product.data.searchAPISearch.documents.length > 0 &&
          product.data.searchAPISearch.documents[0] !== null
        ) {
          await store.dispatch(
            'product/setListProductLimit',
            product.data.searchAPISearch.documents
          )
          await store.dispatch('user/setHasProduct', { param: true })
          store.commit('user/setState', { isLoadingProduct: false })
        }
        await store.commit('ui/setState', { homeLoading: false })
      } else {
        console.log('setHasProduct false')
        await store.dispatch('user/setHasProduct', { param: false })
        await store.commit('ui/setState', { homeLoading: false })
        await store.commit('user/setState', { isLoadingProduct: false })
      }
    }
  }
}
</script>
