<template>
  <div class="pageOrder">
    <!-- from layout -->
    <Tabs/>
    <br>
    <!-- invoice card info with exam iterate -->
    <div v-for="(item, index) in datas" :key="index">
      <ListInvoiceTab
        :invoice="item.invoice"
        :date="item.date"
        :totalpayment="item.totalpayment"
        buttontext="Lihat Pesanan Yang Diproses"
        :url="item.url"
      />
    </div>
  </div>
</template>

<style scoped>
.pageOrder {
  margin: -16px;
}
</style>

<script>
import Tabs from '~/components/Tabs.vue'
import ListInvoiceTab from '~/components/ListInvoiceTab.vue'
export default {
  layout: 'bottom_top_nav',
  components: {
    Tabs,
    ListInvoiceTab
  },
  head() {
    return {
      title: 'Pesanan  ',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'List_order_tab',
          name: 'description',
          content: 'Order Seller Pocimas'
        },
        {
          hid: 'Order_seller_keywords',
          name: 'keywords',
          content: 'order, seller, Pocimas'
        }
      ]
    }
  },
  data() {
    return {
      datas: [
        {
          invoice: 'Invoice /2009/03/-09-2009',
          date: '3 oktober 2018 - 18.00',
          totalpayment: ' 18.000.000',
          url: '/order/new/1'
        },
        {
          invoice: 'Invoice /2018/03/-09-2020',
          date: '3 november 2020 - 18.00',
          totalpayment: ' 20.000.000',
          url: '/order/new/2'
        }
      ]
    }
  }
}
</script>
