<template>
  <div>
    <h1>Report</h1>
    <p>Belum ada isinya</p>
  </div>
</template>

<script>
export default {
  layout: 'top_nav',
  head() {
    return {
      title: 'Report',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'bantuan_seller_description',
          name: 'description',
          content: 'bantuan Seller Pocimas'
        },
        {
          hid: 'bantuan_seller_keywords',
          name: 'keywords',
          content: 'seller, bantuan, Pocimas'
        }
      ]
    }
  }
}
</script>

<style>
</style>
