<template>
  <div class="shareLayout">
    <div>
      <form ref="form" enctype="multipart/form-data">
        <v-card flat>
          <v-card-text>
            <div class="dropbox">
              <input
                type="file"
                :disabled="image.length >= 1"
                :name="uploadFieldName"
                accept="image/*"
                class="input-file"
                @change="filesChange($event.target.name, $event.target.files[0]);"
              />
              <p v-if="image.length === 0" style="font-size:13px">
                Unggah foto / scan bukti pengiriman.
                <br />Ukuran maksimal 8MB
              </p>
              <img v-show="image.length >=1" :src="image" style="height:50%;width:100%" />
            </div>
          </v-card-text>
        </v-card>
        <div v-if="image.length > 0" class="ml-4 mr-4">
          <v-btn
            class="btn-rd btnCap"
            :ripple="false"
            depressed
            outline
            block
            color="secondary"
            @click="removeImg($refs.form)"
          >Hapus Foto</v-btn>
        </div>
      </form>
    </div>
    <v-divider class="divider"></v-divider>
    <h3 class="mb-3">Informasi Produk</h3>
    <v-text-field
      v-model="titleProd"
      class="customField"
      outline
      label="Nama Produk"
      required
      :clearable="priceClearable"
      clear-icon="cancel"
      @blur="priceClearable = false"
      @focus="priceClearable = true"
      @click:clear="isNameValid = false"
      @input="isiNamaProduk"
    ></v-text-field>
    <v-text-field
      v-model="priceProd"
      class="customField"
      outline
      mask="##################"
      label="Harga (Rp)"
      required
      :clearable="titleClearable"
      clear-icon="cancel"
      @blur="titleClearable = false"
      @focus="titleClearable = true"
      @click:clear="isNameValid = false"
      @input="isiHargaProduk"
    ></v-text-field>
    <v-text-field
      v-model="stockProd"
      class="customField"
      outline
      mask="##################"
      label="Stok Produk"
      required
      :clearable="stockClearable"
      clear-icon="cancel"
      @blur="stockClearable = false"
      @focus="stockClearable = true"
      @click:clear="isNameValid = false"
      @input="isiStok"
    ></v-text-field>
    <!-- <p class="titleProduct">Indomie Goreng 85gr 1 Dus (40pcs)</p>
    <p class="amount">Rp84.000</p>-->
    <!-- <p class="stok">Terjual 500 kali</p> -->
    <InputComment />
  </div>
</template>

<style lang="stylus" scoped>
p {
  margin: 0;

  &.titleProduct {
    font-weight: 500;
    font-size: 20px;
    color: #383838;
  }

  &.amount {
    font-weight: 500;
    font-size: 16px;
    color: #FFAF20;
  }

  &.stok {
    font-weight: 400;
    font-size: 11px;
    color: #969696;
    padding-top: 10px;
  }
}

.shareLayout {
  margin: 20% 15px 10px 15px;
}

.v-divider {
  border-bottom-width: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider {
  border-width: 8px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05) !important;
  margin-left: -30px;
  margin-right: -30px;
  max-width: none !important;
}

.customField >>> .v-text-field__slot input {
  margin-top: 0;
  height: 48px;
  max-height: 48px;
  font-size: 16px;
  padding: 0 5px;
}

/* supaya default label placeholder di tengah */
.customField >>> .v-text-field__slot .v-label {
  top: 0;
  padding: 0 5px;
  height: 48px;
  line-height: 48px;
}

/* supaya label placeholder swap ke posisi atas border */
.customField >>> .v-text-field__slot .v-label--active {
  -webkit-transform: translateY(-27px) scale(0.75);
  transform: translateY(-27px) scale(0.75);
  background: #fff;
  top: 18px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}

.detailOrderComplain {
  margin: 45px -16px !important;
}

.expandHeader {
  padding: 0 !important;
}

.listDataOrder, .deliveryAddress, .detailCourier, .proofOfDelivery {
  padding: 5px 25px 0 25px;
}

.listComplainOrder {
  padding: 0 25px;
}

.detilDrd {
  font-size: 16px;
  font-weight: 500;
  color: #00bcb8;
}

.vue-map-container {
  height: 150px;
  max-width: 992px;
  width: 100%;
}

.btnCap {
  text-transform: none !important;
}

.btnRd.v-btn {
  border-radius: 4px;
}

.btn-rd.v-btn {
  border-radius: 4px;
}

.titlePad {
  padding-bottom: 0px;
}

.titlePadTop {
  padding-top: 5px;
}

.spanEx {
  font-size: 16px;
  font-weight: 500;
  color: #00bcb8;
}

div.v-expansion-panel__header {
  padding-left: 15px !important;
  color: red;
}

.customField >>> .v-text-field__slot input {
  margin-top: 0;
  height: 48px;
  max-height: 48px;
  font-size: 16px;
  padding: 0 5px;
}

/* supaya default label placeholder di tengah */
.customField >>> .v-text-field__slot .v-label {
  top: 0;
  padding: 0 5px;
  height: 48px;
  line-height: 48px;
}

/* supaya label placeholder swap ke posisi atas border */
.customField >>> .v-text-field__slot .v-label--active {
  -webkit-transform: translateY(-27px) scale(0.75);
  transform: translateY(-27px) scale(0.75);
  background: #fff;
  top: 18px;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}

.price-qty {
  color: #969696;
}

.g-bottom-action {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.16);
  max-width: 480px;
  margin: auto;
  z-index: 4;
}

.g-block {
  background: #fff;
  padding: 16px;
}

.copy-url {
  text-align: center;
}

.over-hid {
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.content-img {
  width: auto;
  height: 100%;
  background-size: cover;
}

.salin {
  text-decoration: underline;
  background: transparent;
}

.divider {
  border-width: 8px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05) !important;
  margin-left: -16px;
  margin-right: -16px;
  max-width: none !important;
}

.coral-text {
  color: #fe4544;
  background-color: #ffece9;
}

.price-diff {
  background-color: #ffece9;
  font-weight: 500;
  border-radius: 4px;
}

.right-text {
  text-align: right;
}

/* form for upload box */
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  color: dimgray;
  padding: 10px 10px;
  min-height: 106px; /* minimum height */
  max-width: 480px;
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}

.image-cont {
  width: 100%;
  max-width: 480px;
}
</style>

<script>
import InputComment from '~/components/InputComment.vue'

export default {
  components: {
    InputComment
  },
  layout: 'top_nav',
  head() {
    return {
      title: 'Bagikan ke sosial media'
    }
  },
  data() {
    return {
      showButton: false,
      titleClearable: false,
      priceClearable: false,
      stockClearable: false,
      titleProd: '',
      priceProd: '',
      stockProd: '',
      uploadFieldName: 'photos',
      image: '',
      uploadedFiles: [],
      uploadError: null,
      fileName: '',
      imageToUpload: ''
    }
  },
  methods: {
    isiNamaProduk() {
      // console.warn('this.titleProd', this.titleProd)
      this.$store.commit('product/setState', {
        prodTitle: this.titleProd
      })
    },
    isiHargaProduk() {
      // console.warn('this.hargaaa', this.priceProd)
      this.$store.commit('product/setState', {
        prodPrice: this.priceProd
      })
    },
    isiStok() {
      this.$store.commit('product/setState', {
        prodStock: this.stockProd
      })
    },
    filesChange(fieldName, fileList) {
      const maxFileSize = 8 * 1024 * 1024 // 8388608
      if (fileList !== undefined && fileList.size > maxFileSize) {
        const alertMsg = {
          msg: 'Ukuran file tidak boleh melebihi 8MB',
          color: 'secondary'
        }
        this.$store.dispatch('ui/showAlert', alertMsg, { root: true })
        return
      }
      let validType = false
      if (
        fileList.type === 'image/jpg' ||
        fileList.type === 'image/jpeg' ||
        fileList.type === 'image/png' ||
        fileList.type === 'image/gif'
      ) {
        validType = true
      }
      if (!validType) {
        const alertMsg = {
          msg: 'Jenis file yang dibolehkan: png jpg jpeg gif',
          color: 'secondary'
        }
        this.$store.dispatch('ui/showAlert', alertMsg, { root: true })
        return
      }
      this.createImage(fileList)
      this.$store.commit('product/setState', { fileList })
      this.fileName = fileList.name
      this.imageToUpload = fileList
      this.imageIsSelected = true
    },
    createImage(file) {
      // const image = new Image()
      const reader = new FileReader()

      reader.onload = e => {
        this.image = e.target.result
      }

      reader.readAsDataURL(file)
    },
    reset() {
      // reset form to initial state
      this.uploadedFiles = []
      this.uploadError = null
      this.image = ''
      this.resetLoading({ uploadLoading: false })
    },
    removeImg(form) {
      this.uploadedFiles = []
      this.uploadError = null
      this.image = ''
      this.imageToUpload = ''
      form.reset()
    }
  }
}
</script>
